
<script>
	fetch('/api/exercicios_musculo/11')
	.then(res => res.json())
	.then(data => {
		const nome_exercicios = data.result
		buildTable(nome_exercicios)
	})


	function renderNames(names){
		const container = document.getElementById('Exercicios');
		container.innerHtml = '';
		for (const name of names) {
			const p = document.createElement('p');
			const textNode = document.createTextNode(name);
			p.appendChild(textNode);
			container.appendChild(p);
		}
	}

	function buildTable(data){
		var table = document.getElementById('myTable');

	  // Mostrar todos os dados e meter a primeira palavra em maisculo
	  if(data.length > 0){
	  	for(var i = 0; i<data.length; i++){
	  		var row = ` <tr>
	  		<td><a href=" /Exercicio/${data[i].id}">${data[i].exercicio}</a></td>
	  		<td>${data[i].equipamento}</td>
	  		<td>${data[i].dificuldade}</td>
	  		<td>${data[i].musculo}</td>
	  		
	  		</tr>`
	  		table.innerHTML += row
	  	}
	  } else {
	  	var row = `<tr><td colspan="6" class="text-center">Nenhuma Dado encontrada</td></tr>`;
	  	table.innerHTML += row;
	  }



	}
	function editar(id){
		url = "/admin/update_exercicios?id=";
        //console.log(id);
        window.location = url + id;
      }

      function apagar(id){
      	url_api = "/api/exercicio/" + id;
      	console.log(url_api);
      	fetch(url_api, {
      		method: 'delete',
      		headers: {
      			'Content-Type': 'application/json'
      		},

      	}).then(response => response.json());

      	window.location.href="/admin";
      }





    </script>
