{{> header }}


<body class="bg-black text-dark mt-0" data-bs-spy="scroll" data-bs-target="#navScroll">
{{> nav_bar}}<br><br><br>
    <header>
        <div class="collapse bg-dark" id="navbarHeader">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-7 py-4">
                        <h4 class="text-dark">About</h4>
                        <p class="text-muted">Add some information about the album below, the author, or any other
                            background context. Make it a few sentences long so folks can pick up some informative
                            tidbits. Then, link them off to some social networking sites or contact information.</p>
                    </div>
                    <div class="col-sm-4 offset-md-1 py-4">
                        <h4 class="text-white">Contact</h4>
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-white">Follow on Twitter</a></li>
                            <li><a href="#" class="text-white">Like on Facebook</a></li>
                            <li><a href="#" class="text-white">Email me</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
    </header>

    <main>

        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="text-light">Músculos</h1>
                    <p class="lead text-light">Escolhe um grupo muscular que queres treinar. Visualiza os exercícios que
                        podes realizar. Também podes criar a tua sessão de treino</p>
                    <p>
                        <a href="/Exercicios" class="btn btn-primary my-2">Exercícios</a>
                        <a href="/menu_sessao_treino" class="btn btn-secondary my-2">Sessão de treino</a>
                    </p>
                </div>
            </div>
        </section>

        <div class="album py-5 ">
            <div class="container">

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="/assets/img/Musculos/bracos.svg">
                            <div class="card-body">
                                <p class="card-text">Os músculos do braços são compostos principalmente pelos bíceps, tríceps e antebraço. Bíceps é responsável pela flexão do braço, enquanto o tríceps é responsável pela
                                    extensão.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    
                                        <div class="btn-group">
                                            <a href="/Bicep" class="btn btn-sm btn-outline-secondary">Bicep</a>
                                            <a href="/Tricep" class="btn btn-sm btn-outline-secondary">Tricep</a>
                                            <a href="/Antebraco" class="btn btn-sm btn-outline-secondary">Antebraço</a>
                                        </div>
                                    

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="/assets/img/Musculos/peitos.svg">

                            <div class="card-body">
                                <p class="card-text">O músculo peitoral é o grande músculo localizado na região do tórax, responsável por movimentos de flexão, adução e rotação interna do braço. Para fortalecer, existem diversos exercícios que podem ser realizados</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="/Peito" class="btn btn-sm btn-outline-secondary">Peito</a>
                                        
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="/assets/img/Musculos/abdominal.svg">

                            <div class="card-body">
                                <p class="card-text">Os músculos abdominais são um grupo de músculos localizados na região do abdômen, responsáveis pela estabilização do tronco e movimentos de flexão.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="/Abdominais" class="btn btn-sm btn-outline-secondary">Abdominais</a>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="/assets/img/Musculos/ombro.svg">

                            <div class="card-body">
                                <p class="card-text">Os músculos dos ombros incluem o deltóide e o trapézio. O deltóide é o principal músculo responsável pelo movimento de abdução do braço, enquanto o trapézio é importante para a elevação da escápula e movimentos de rotação.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="/Ombro" class="btn btn-sm btn-outline-secondary">Ombros</a>
                                        <a href="/Trapezio" class="btn btn-sm btn-outline-secondary">Trapezio</a>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="/assets/img/Musculos/costas.svg">

                            <div class="card-body">
                                <p class="card-text">Os músculos das costas são fundamentais para a postura, equilíbrio e movimentação do corpo. Eles são compostos pelo grande dorsal. Podem ser trabalhados com exercícios como a barra fixa e remadas. O treinamento adequado das costas pode melhorar a força e a estética muscular, além de prevenir lesões e dores nas costas.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="/Costas" class="btn btn-sm btn-outline-secondary">Costas</a>
                                        <a href="/Dorsal" class="btn btn-sm btn-outline-secondary">Dorsal</a>
                                        
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="/assets/img/Musculos/pernas.svg">

                            <div class="card-body">
                                <p class="card-text">Os músculos das pernas incluem os quadríceps, os isquiotibiais ou hamstrings, os glúteos e os músculos dos gémeos. Os quadríceps são responsáveis pela extensão do joelho, enquanto os isquiotibiais são responsáveis pela flexão.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="/Quadricep" class="btn btn-sm btn-outline-secondary">Quadríceps</a>
                                        <a href="/Hamstrings" class="btn btn-sm btn-outline-secondary">Hamstrings</a>
                                        <a href="/Gluteo" class="btn btn-sm btn-outline-secondary">Gluteo</a>
                                        <a href="/Gemeo" class="btn btn-sm btn-outline-secondary">Gémeo</a>

                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>


</body>

</html>