<div class=" h-100 d-flex justify-content-center align-items-center">
    
<form method="post" action="/auth">
    <img src="../assets/img/browsemuscle_light.png" width="500px" height="100px">
    <br>
    <br>
    {{#if error}}
    <h2 class="text-light">{{error}}</h2>
    {{/if}}
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label text-light">Username</label>
    <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    
  </div>
  <div class="mb-3">
    <label class="form-label text-light">Password</label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword1">
    <div class="form-text">Não temos acesso a sua palavra passe. A palavra passe está segura.</div>
    <div class="form-text"> 
      <a href="/auth/registar">Ainda não tem conta? </a>
    </div>
  </div>
  
  <button type="submit" class="btn btn-primary">Login</button>
  
</form>
</div>