{{> header}}

<body class="h-100 w-100 bg-black text-white" data-bs-spy="scroll" data-bs-target="#navScroll">
  <div class="h-100 container-fluid">
    <div class="h-100 row d-flex align-items-stretch justify-content-center">
      <header class="mb-auto py-vh-2 col-12 justify-content-center">
        <a class="navbar-brand pe-md-4 fs-4 col-12 col-md-auto text-center" href="/">
        </a>

      </header>
      <main class="mb-auto col-6">
        <h1>Entrar na conta</h1>
        <form method="post" action="/auth">
          {{#if success}}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{success}}

          </div>
          {{/if}}
          {{#if error}}
          <h2 class="text-light">{{error}}</h2>
          {{/if}}
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label text-light">Username</label>
            <input type="text" name="username" class="form-control form-control-lg bg-gray-800 border-dark"
              id="exampleInputEmail1" aria-describedby="emailHelp">

          </div>
          <div class="mb-3">
            <label class="form-label text-light">Password</label>
            <input type="password" name="password" class="form-control form-control-lg bg-gray-800 border-dark"
              id="exampleInputPassword1">
            <div class="form-text">Não temos acesso a sua palavra passe. A palavra passe está segura.</div>
            <div class="form-text">
              <a href="/auth/registar">Ainda não tem conta? </a>
            </div>
          </div>

          <button type="submit" class="btn btn-white btn-xl mb-4">Entrar</button>

        </form>
    </div>
  </div>
  </div>
</body>