<div class=" h-100 d-flex justify-content-center align-items-center">

  
<form method="post" action="/auth">
    {{#if success}}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{success}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {{/if}}
    {{#if error}}
    <h2 class="text-light">{{error}}</h2>
    {{/if}}
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label text-light">Username</label>
    <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    
  </div>
  <div class="mb-3">
    <label class="form-label text-light">Password</label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword1">
    <div class="form-text">Não temos acesso a sua palavra passe. A palavra passe está segura.</div>
    <div class="form-text"> 
      <a href="/auth/registar">Ainda não tem conta? </a>
    </div>
  </div>
  
  <button type="submit" class="btn btn-primary">Login</button>
  
</form>

</div>