<div class=" h-100 d-flex justify-content-center align-items-center">
    
<form method="post" action="/auth/registar">
    <br>
    <br>
    {{#if error}}
    {{error}}
    {{/if}}
    <div class="row">
  <div class="col">
    <label for="exampleInputEmail1" class="form-label text-light">Primeiro Nome</label>
    <input type="text" name="primeiro_nome" class="form-control" placeholder="First name" aria-label="First name" required>
  </div>
  <div class="col">
    <label for="exampleInputEmail1" class="form-label text-light">Ultimo Nome</label>
    <input type="text" name="ultimo_nome" class="form-control" placeholder="Last name" aria-label="Last name" required>
  </div>
  
</div>
  <div class="mb-3">
    <br>
    <label for="exampleInputEmail1" class="form-label text-light">Username</label>
    <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
    
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label text-light">Email address</label>
    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label text-light">Número de telemovel (Opcional)</label>
    <input type="text" name="num_telemovel" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    
  </div>
  <div class="mb-3">
    <label class="form-label text-light">Password</label>
    <input type="password" name="password" class="form-control" id="password" pattern=".{8,}" title="A palavra-passe deve ter pelo menos 8 caracteres" required>
    <div class="form-text">Não temos acesso a sua palavra passe. A palavra passe está segura.</div>
    <div class="form-text"> 
      <a href="/auth/login">Já tem conta? </a>
    </div>
  </div>
  
  <button type="submit" class="btn btn-primary">Criar conta</button>
</form>
</div>