{{> header }}

				<h2>
				BrowseMuscle - Peso Corporal
				</h2>
				<p style="text-align: center">
          <table class="table table-striped table-hover">
      			<tr class="bg-danger">
              <th>ID</th>
      				<th>Exercício</th>
      				<th>Equipamento</th>
      				<th>Dificuldade</th>
      				<th>Músculo</th>
      			</tr>
            <tbody id="myTable">

        		</tbody>
        	</table>
        		<div id="exercicios">

        	</div>

				</p>
								<script>
		fetch('http://localhost:3000/api/exercicios_equipamento/5')
			.then(res => res.json())
			.then(data => {
				const nome_exercicios = data.result
				fetch('http://localhost:3000/api/equipamentos/')
					.then(res => res.json())
					.then(data => {
						const nome_equipamentos = data.result
						fetch('http://localhost:3000/api/dificuldades/')
						.then(res => res.json())
						.then(data => {
							const nome_dificuldades = data.result
							
							fetch('http://localhost:3000/api/musculos/')
								.then(res => res.json())
								.then(data => {
									const nome_musculos = data.result
									buildTable(nome_exercicios, nome_equipamentos, nome_dificuldades, nome_musculos)
								})
						})
					})
			})

		function renderNames(names){
			const container = document.getElementById('exercicios');
			container.innerHtml = '';
				for (const name of names) {
				  const p = document.createElement('p');
				  const textNode = document.createTextNode(name);
				  p.appendChild(textNode);
				  container.appendChild(p);
				}
		}

		function buildTable(data, data_equipamento, data_dificuldade, data_musculo){
			var table = document.getElementById('myTable');

	  // Mostrar todos os dados e meter a primeira palavra em maisculo
	  if(data.length > 0){
		for(var i = 0; i<data.length; i++){
				  var row = ` <tr>
								  <td>${data[i].id}</td>
								  <td>${data[i].nome}</td>
								  <td>${data_equipamento[data[i].equipamento_id-1].nome}</td>
								  <td>${data_dificuldade[data[i].dificuldade_id-1].nome}</td>
								  <td>${data_musculo[data[i].musculo_id-1].nome}</td>
								
							  </tr>`
				  table.innerHTML += row
			  }
	  } else {
		var row = `<tr><td colspan="6" class="text-center">Nenhuma Dado encontrada</td></tr>`;
		table.innerHTML += row;
	  }



		}
      function editar(id){
        url = "http://localhost:3000/admin/update_exercicios?id=";
        //console.log(id);
         window.location = url + id;
      }

      function apagar(id){
        url_api = "http://localhost:3000/api/exercicio/" + id;
        console.log(url_api);
        fetch(url_api, {
          method: 'delete',
          headers: {
            'Content-Type': 'application/json'
          },

        }).then(response => response.json());

        window.location.href="http://localhost:3000/admin";
      }





      </script>

{{> footer }}