<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item text-light"><a href="#">Administração</a></li>
    <li class="breadcrumb-item active text-light" aria-current="page">Exercícios</li>
  </ol>
</nav>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Administração</a></li>
    <li class="breadcrumb-item"><a href="#">Exercícios</a></li>
    <li class="breadcrumb-item active" aria-current="page">Criar exercício</li>
  </ol>
</nav>