{{> nav_bar}}
<br><br><br>
<style>
body {
  background-color: #fff;
}
</style>

<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h3 class="section-heading text-uppercase">Administração</h2>
            <h3 class="section-subheading text-muted">Gestão de Alimentos, exercícios e Utilizadores</h3>
        </div>
        <div class="row">

            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 2-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"></div>
                        </div>
                        <a href="/admin/main_alimentos"><img class="img-fluid" width="400px" src="/assets/img/Alimentos/food.svg" alt="..." /></a>
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Alimentos</div>
                        <div class="portfolio-caption-subheading text-muted">Gerir Alimentos</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 3-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"></div>
                        </div>
                        <a href="/admin/main_exercicios"><img class="img-fluid" src="/assets/img/Equipamentos/dumbell.svg" width="400px" /></a>
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Exercícios</div>
                        <div class="portfolio-caption-subheading text-muted">Gerir exercícios</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <!-- Portfolio item 4-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal4">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"></div>
                        </div>
                        <a href="/admin/main_utilizadores"><img class="img-fluid" src="/assets/img/Utilizadores/user.svg" width="400px" /></a>
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Utilizadores</div>
                        <div class="portfolio-caption-subheading text-muted">Gerir Utilizadores</div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>