{{> header }}


<body class="bg-black text-dark mt-0" data-bs-spy="scroll" data-bs-target="#navScroll"><br><br>
{{> nav_bar}}
<style>
    .center {
        text-align: center;
    }
</style>

<div class="d-flex align-items-center justify-content-center" style="height: 60vh">

    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Utilizador não encontrado!</h4>
        <p>Pelos vistos, o utilizador não existe! Por favor verifique outra vez o username.</p>
        <hr>
        <p class="mb-0">Verifique novamente o username</p>
    </div>
</div>