<footer class="bg-black border-top border-dark">
  <div class="container py-vh-4 text-secondary fw-lighter">
    <div class="row">
      <div class="col-12 col-lg-5 py-4 text-center text-lg-start">
        <a class="navbar-brand pe-md-4 fs-4 col-12 col-md-auto text-center" href="/">

          <img src="/assets/img/browsemuscle_light.png" width="200">
        </a>

      </div>
      <div class="col border-end border-dark">
        <span class="h6">Companhia</span>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a href="https://www.poch.portugal2020.pt/pt-pt/Paginas/default.aspx"
              class="link-fancy link-fancy-light">POCH</a>
          </li>
          <li class="nav-item">
            <a href="https://filipa-vilhena.edu.pt/" class="link-fancy link-fancy-light">ESFV</a>
          </li>

          <li class="nav-item">
            <a href="http://tgpsi.filipa-vilhena.edu.pt/" class="link-fancy link-fancy-light">Curso TGPSI</a>
          </li>
        </ul>
      </div>
      <div class="col border-end border-dark">
        <span class="h6">API</span>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a href="http://35.178.127.12:3000/api/exercicios" class="link-fancy link-fancy-light">Exercícios</a>
          </li>
          <li class="nav-item">
            <a href="http://35.178.127.12:3000/api/alimentos" class="link-fancy link-fancy-light">Alimentos</a>
          </li>
        </ul>
      </div>
      <div class="col">
        <span class="h6">Sobre</span>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a href="#" class="link-fancy link-fancy-light">BrowseMuscle</a>
          </li>
          <li class="nav-item">
            <a href="#" class="link-fancy link-fancy-light">Criação do projeto</a>
          </li>
          <li class="nav-item">
            <a href="#" class="link-fancy link-fancy-light">Contacte-nos</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container text-center small py-vh-2 border-top border-dark"><img src="/assets/img/poch.png" width="400"
      alt="">
  </div>
</footer>
<script src="/assets/js/bootstrap.bundle.js"></script>

<script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>  
<script src="https://www.google.com/recaptcha/api.js" async defer></script>