<!DOCTYPE html>
<html lang="en" class="h-100">


<head>
  <meta charset="utf-8">
  <meta https-equiv="X-UA-Compatible" content="IE=edge">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BrowseMuscle</title>

  <meta name="description" content="BrowseMuscle💪 | Visualiza e conhece vários exercícios!">
  <meta name="author" content="tanjil">
  <link rel="shortcut icon" href="/assets/img/favicon.ico">
  <link rel="stylesheet" href="/assets/css/page.css">
  <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <link href="/assets/css/cover.css" rel="stylesheet">
  <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/
	Chart.js/3.9.1/chart.min.js"></script>

  <style>
    p {
      font-size: 20px;
    }

    body {
      margin: 0;
      padding: 0;
      /*background: url(/assets/img/fundo.png) no-repeat center center fixed;*/
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-color: #211d1d;
    }


    .topnav {
      overflow: hidden;
      background-color: #333;
    }

    .topnav a {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }

    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }

    .topnav a.active {
      background-color: #8b05eb;
      color: white;
    }
    
    .center {
      text-align: center;
    }
  </style>
<style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      
    </style>
</head>

<body class="d-flex h-100 text-center text-bg-dark">

  {{> nav_bar username=user.username foto=user.foto}}
  
<div class="">
</div>

<script>
  fetch('/api/Musculos/')
  .then(res => res.json())
  .then(data => {
    const nome_musculos = data.result

    buildTable_musculo(nome_musculos)
  })
  function buildTable_musculo(data_musculos) {
    var dropdown_div = document.getElementById('dropdown-Musculos');

    data_musculos.forEach(musculo => {

      var dropdown = `
      
      <li><a class="dropdown-item" href="/${musculo.nome}">${musculo.nome}</a></li>
      `
      dropdown_div.innerHTML += dropdown
    })


  }

</script>

<script>
  fetch('/api/Equipamentos/')
  .then(res => res.json())
  .then(data => {
    const nome_equipamentos = data.result

    buildTable_equipamento(nome_equipamentos)
  })
  function buildTable_equipamento(data_equipamentos) {
    var dropdown_div_equipamentos = document.getElementById('dropdown_equipamentos_navegacao');
    data_equipamentos.forEach(equipamento => {

      var dropdown_equipamentos_navegacao = `
      <li><a class="dropdown-item" href="/${equipamento.nome}">${equipamento.nome}</a></li>
      `
      dropdown_div_equipamentos.innerHTML += dropdown_equipamentos_navegacao
    })


  }

</script>

<script>
  fetch('/api/Dificuldades/')
  .then(res => res.json())
  .then(data => {
    const nome_dificuldades = data.result
    buildTable_dificuldades(nome_dificuldades)
  })
  function buildTable_dificuldades(data_dificuldades) {
    var dropdown_div_dificuldades = document.getElementById('dropdown_dificuldades_navegacao');
    data_dificuldades.forEach(dificuldade => {

      var dropdown_dificuldades_navegacao = `
      <li><a class="dropdown-item" href="/${dificuldade.nome}">${dificuldade.nome}</a></li>
      `
      dropdown_div_dificuldades.innerHTML += dropdown_dificuldades_navegacao
    })


  }

</script>
