<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta https-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>BrowseMuscle</title>

  <meta name="description" content="BrowseMuscle💪 | Visualiza e conhece vários exercícios!">
  <meta name="author" content="tanjil">
  <link rel="shortcut icon" href="/assets/img/favicon.ico">
  <link rel="stylesheet" href="/assets/css/page.css">
  <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

  <style>
    p {
      font-size: 20px;
    }

    body {
      margin: 0;
      padding: 0;
      background: url(/assets/img/fundo.png) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;


    }


    .topnav {
      overflow: hidden;
      background-color: #333;
    }

    .topnav a {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }

    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }

    .topnav a.active {
      background-color: #8b05eb;
      color: white;
    }
    
    .center {
      text-align: center;
    }
  </style>

</head>

<body>

  {{> nav_bar username=user.username}}
<div class="">
</div>
<script>
  fetch('/api/musculos/')
  .then(res => res.json())
  .then(data => {
    const nome_musculos = data.result

    buildTable_musculo(nome_musculos)
  })
  function buildTable_musculo(data_musculos) {
    var dropdown_div = document.getElementById('dropdown-musculos');

    data_musculos.forEach(musculo => {

      var dropdown = `
      
      <li><a class="dropdown-item" href="/${musculo.nome}">${musculo.nome}</a></li>
      `
      dropdown_div.innerHTML += dropdown
    })


  }

</script>

<script>
  fetch('/api/equipamentos/')
  .then(res => res.json())
  .then(data => {
    const nome_equipamentos = data.result

    buildTable_equipamento(nome_equipamentos)
  })
  function buildTable_equipamento(data_equipamentos) {
    var dropdown_div_equipamentos = document.getElementById('dropdown_equipamentos_navegacao');
    data_equipamentos.forEach(equipamento => {

      var dropdown_equipamentos_navegacao = `
      <li><a class="dropdown-item" href="/${equipamento.nome}">${equipamento.nome}</a></li>
      `
      dropdown_div_equipamentos.innerHTML += dropdown_equipamentos_navegacao
    })


  }

</script>

<script>
  fetch('/api/dificuldades/')
  .then(res => res.json())
  .then(data => {
    const nome_dificuldades = data.result
    buildTable_dificuldades(nome_dificuldades)
  })
  function buildTable_dificuldades(data_dificuldades) {
    var dropdown_div_dificuldades = document.getElementById('dropdown_dificuldades_navegacao');
    data_dificuldades.forEach(dificuldade => {

      var dropdown_dificuldades_navegacao = `
      <li><a class="dropdown-item" href="/${dificuldade.nome}">${dificuldade.nome}</a></li>
      `
      dropdown_div_dificuldades.innerHTML += dropdown_dificuldades_navegacao
    })


  }

</script>