<!--
<nav class="navbar navbar-expand-lg fixed-top navbar navbar-dark bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="/assets/img/browsemuscle_dark.png" width="250px" height="50px"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-dark" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Exercícios
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/Exercicios">Exercícios</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <div id="dropdown-Musculos">

            </div>


          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Equipamentos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item disabled">Equipamentos</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <div id="dropdown_equipamentos_navegacao"></div>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Dificuldades
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item">Dificuldades</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <div id="dropdown_dificuldades_navegacao"></div>
          </ul>
        <li class="nav-item">
          <a class="nav-link text-dark" aria-current="page" href="/Alimentos">Alimentos</a>
        </li>
        </li>
      </ul>
      <form class="d-flex" method="POST" action="/Exercicios/pesquisa">
        <input class="form-control me-2" type="text" placeholder="Pesquisar" name="pesquisa" aria-label="Search">
        <button class="btn btn-outline-light text-dark" type="submit">Pesquisar</button>
      </form>

      <ul class="navbar-nav dropstart">
        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <img src="/assets/img/user.png" width="26px" height="26px" />
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

            {{#unless username}}
            <li><a class="dropdown-item" href="/auth/login">Login</a></li>
            {{/unless}}

            {{#if username}}
            <li><a class="dropdown-item" href="/meu_perfil">{{username}}</a></li>
            <form action="/auth/logout" method="post">

              <button type="submit" class="btn btn-link">Logout</button>
            </form>
            {{/if}}
          </ul>

        </li>
      </ul>

    </div>
  </div>
</nav>
-->
<nav class="navbar navbar-dark navbar-expand-lg bg-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="/"><img src="/assets/img/browsemuscle_dark.png" width="210px" height="100px"></a>
    <button class="navbar-toggler text-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars ms-1"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
        <li class="nav-item">
          <a class="nav-link text-dark" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Exercícios
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/Exercicios">Exercícios</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <div id="dropdown-Musculos">

            </div>


          </ul>
        </li>


        

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Equipamentos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

            <li><a class="dropdown-item disabled">Equipamentos</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <div id="dropdown_equipamentos_navegacao"></div>
          </ul>
        </li>



        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Dificuldades
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item">Dificuldades</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <div id="dropdown_dificuldades_navegacao"></div>
          </ul>
          </li>
           
          <form class="d-flex" method="POST" action="/Exercicios/pesquisa">
          <input class="form-control me-2" type="text" placeholder="Pesquisar" name="pesquisa" aria-label="Search">
          <button class="btn btn-outline-light text-dark" type="submit">Pesquisar</button>
        </form>

        {{#unless user}}
        <li class="nav-item"><a class="nav-link text-dark" href="/auth/login">Login</a></li>
        {{/unless}}

        {{#if user}}
        
        <li class="nav-item"><a class="nav-link text-dark" href="/meu_perfil"><img src="/assets/img/user.png" width="26px" height="26px" /> {{user.username}}</a></li>
      
        {{/if}}
        
        
      </ul>
    </div>
  </div>

</nav>