<nav class="navbar navbar-expand-lg fixed-top navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="/assets/img/browsemuscle_light.png" width="250px" height="50px"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/pagina_principal">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Exercícios
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/Exercicios">Exercícios</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <div id="dropdown-Musculos">

            </div>


          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Equipamentos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item disabled">Equipamentos</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <div id="dropdown_equipamentos_navegacao"></div>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Dificuldades
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item">Dificuldades</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <div id="dropdown_dificuldades_navegacao"></div>
          </ul>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/Alimentos">Alimentos</a>
        </li>
        </li>
      </ul>
      <form class="d-flex" method="POST" action="/Exercicios/pesquisa">
        <input class="form-control me-2" type="text" placeholder="Pesquisar" name="pesquisa" aria-label="Search">
        <button class="btn btn-outline-light" type="submit">Pesquisar</button>
      </form>

      <ul class="navbar-nav dropstart">
        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <img src="/assets/img/user_light.png" width="26px" height="26px" />
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

            {{#unless username}}
            <li><a class="dropdown-item" href="/auth/login">Login</a></li>
            {{/unless}}

            {{#if username}}
            <li><a class="dropdown-item" href="/meu_perfil">{{username}}</a></li>
            <form action="/auth/logout" method="post">
              
              <button type="submit" class="btn btn-link">Logout</button>
            </form>
            {{/if}}
          </ul>

        </li>
      </ul>

    </div>
  </div>
</nav>