<a href="/meu_perfil/editar" class="btn btn-dark">
    <small>Editar Perfil</small>
</a><br>
<a href="/mudar_pass" class="btn btn-dark">
    <small>Mudar password</small>
</a><br>

<a href="/auth/logout" class="btn btn-dark">
    <small>Sair da conta</small>
</a>
{{> data_entrada_perfil}}