{{> header }}

<style>
  #container {
    display: flex;
    justify-content: center; /* horizontal alignment */
    align-items: center; /* vertical alignment */
    margin: auto; /* centering */
  }
</style>

<div id="container">
  <canvas id="lineChart" width="500" height="500"></canvas>
</div>




{{{body}}}
{{> footer }}