{{> header }}
<br>
<br>
<div class="container pt-5 pb-5">
	<div class="topnav">
		<a href="/admin/exercicios">Visualizar Exercícios</a>
		<a href="/admin/post_exercicios">Inserir Exercícios</a>
	</div>
	{{{body}}}
</div>
{{> footer }}