{{> header }}
<br>
<br>

<div class="container-fluid">
	<h2 class="text-light"><br><br><br>
		Gestão de utilizadores
	</h2>
	<div class="col-12 d-flex justify-content-end">
		<a href="#" type="button" class="btn btn-dark align-self-center">+ adicionar utilizador</a>
	</div>

	<p style="text-align: center">
	<table class="table table-bordered table-hover table-light">
		<thead class="thead-light">
			<tr>
				<th scope="col" >ID</th>
				<th scope="col" >Username</th>
				<th scope="col" >Primeiro Nome</th>
				<th scope="col" >Último Nome</th>
				<th scope="col" >Email</th>
				<th scope="col" >Número de telemovel</th>
				<th scope="col" >Cargos</th>
				<th scope="col" class="text-end">Ações</th>
			</tr>
		</thead>
		<tbody id="myTable">
			{{{body}}}
		</tbody>
	</table>

	</p>

</div>
</div>
{{> footer }}