{{> header }}
<br>
<br>
<div class="container pt-5 pb-5">
	<h2  class="text-light">
		Bem vindo ao BrowseMuscle!
	</h2>
	<p style="text-align: center">
		<table class="table table-hover table-light">
			<tr class="bg-danger">
				<th>ID</th>
				<th>Alimento</th>
				<th>Proteina</th>
				<th>Carbs</th>
				<th>Gordura</th>
                <th>Calorias</th>
				<th>Marca</th>
			</tr>
			<tbody id="myTable">
				{{{body}}}
			</tbody>
		</table>

	</p>
	
</div>
{{> footer }}

