{{> header }}

<br>
<br>

<div class="container pt-5 pb-5">
	<h2  class="text-light"><br><br><br>
		Exercícios
	</h2>
	
	<p style="text-align: center">
		<table id="exercicios" class="table table-hover table-light">
			<thead>
				<tr>
					<th>Exercício</th>
					<th>Equipamento</th>
					<th>Dificuldade</th>
					<th>Músculo</th>
				</tr>
			</thead>
			<tbody id="myTable">
				{{{body}}}
			</tbody>
		</table>

	</p>
	
</div>
<script>
	$(document).ready(function () {
		$('#exercicios').DataTable({

			"language": {
				"search": "Pesquisar ",
				"lengthMenu": "Mostrar _MENU_ registos por página",
				"zeroRecords": "Nenhum registo encontrado",
				"info": "A mostrar página _PAGE_ de _PAGES_",
				"infoEmpty": "Sem registos disponíveis",
				"infoFiltered": "(filtrado de _MAX_ registos no total)",
				"paginate": {
					"previous": "Anterior",
					"next": "Próximo"
				}
			},

			
		});
	});

</script>



{{> footer }}

