{{> header }}

<br>
<br>


<div class="container-fluid">	<h2  class="text-light"><br><br><br>
		Gestão de exercícios
	</h2>
	<div class="col-12 d-flex justify-content-end">
    <a href="/admin/adicionar_exercicio" type="button" class="btn btn-dark align-self-center">+ adicionar exercício</a>
  </div>
	
	<p style="text-align: center">
		<table class="table table-bordered table-hover table-light">
		<thead class="thead-light">
			<tr class="bg-danger">
				<th scope="col">ID</th>
				<th scope="col">Exercício</th>
				<th scope="col">Equipamento</th>
				<th scope="col">Dificuldade</th>
				<th scope="col">Músculo</th>
				<th scope="col" class="text-end">Ações</th>
			</tr>
			</thead>
			<tbody id="myTable">
				{{{body}}}
			</tbody>
		</table>

	</p>
	
</div>

{{> footer }}

