{{> header }}


<body class="bg-black text-dark mt-0" data-bs-spy="scroll" data-bs-target="#navScroll">
{{> nav_bar}}
<div class="container pt-5 pb-5">
	<h2  class="text-white"><br><br> <br><br> 
		Exercícios
	</h2>
	<div class="col-12 d-flex justify-content-end">
		<form class="d-flex" method="POST" action="/Exercicios/pesquisa">
			<input class="form-control me-2" type="text" placeholder="Pesquisar" name="pesquisa" aria-label="Search">
			<button class="btn btn-primary" type="submit">Pesquisar</button>
		</form>
	</div>
	<p style="text-align: center">
		<table id="exercicios" class="table table-hover table-light">
			<thead>
				<tr>
					<th>Exercício</th>
					<th>Equipamento</th>
					<th>Dificuldade</th>
					<th>Músculo</th>
				</tr>
			</thead>
			<tbody id="myTable">
				{{{body}}}
			</tbody>
		</table>

	</p>
	
</div>



{{> footer }}

