{{> header }}


<body class="bg-black text-dark mt-0" data-bs-spy="scroll" data-bs-target="#navScroll">
{{> nav_bar}}

<div class="container pt-5 pb-5">
	<h2  class="text-light"><br><br><br>
		Exercícios
	</h2>
	<p style="text-align: center">
		<table class="table table-hover table-light">
			<tr class="bg-danger">
				<th>Exercício</th>
				<th>Equipamento</th>
				<th>Dificuldade</th>
				<th>Músculo</th>
			</tr>
			<tbody id="myTable">
				
			</tbody>
		</table>
		<div id="Exercicios">

		</div>
	{{{body}}}
	</p>
	
</div>
</div>
{{> footer }}

