{{> header }}
<br>
<br>

<div class="container pt-5 pb-5">
	<h2  class="text-light"><br><br><br>
		Alimentos
	</h2>
	<p class="text-muted">
  Não encontra o alimento que deseja ver? <a href="/Alimentos/adicionar_pedido_alimento" class="text-reset">Adicione o seu alimento!</a><br>
  Veja os seus <a href="/Alimentos/alimentos_utilizador" class="text-reset">alimentos!</a>
</p>
	<div class="col-12 d-flex justify-content-end">
		<form class="d-flex" method="POST" action="/Alimentos/pesquisa">
          <input class="form-control me-2" type="text" placeholder="Pesquisar" name="pesquisa" aria-label="Search">
          <button class="btn btn-primary" type="submit">Pesquisar</button>
        </form>
	</div>
	<p style="text-align: center">
		<table class="table table-hover table-light">
			<tr class="bg-danger">
				<th>ID</th>
				<th>Alimento</th>
				<th>Macros</th>
				<th>Marca</th>
			</tr>
			<tbody id="myTable">
				{{{body}}}
			</tbody>
		</table>

	</p>
	
</div>

{{> footer }}

