<script>
	fetch('/api/exercicios_dificuldade/3')
		.then(res => res.json())
		.then(data => {
			const nome_exercicios = data.result
			buildTable(nome_exercicios)

		})


	function renderNames(names) {
		const container = document.getElementById('Exercicios');
		container.innerHtml = '';
		for (const name of names) {
			const p = document.createElement('p');
			const textNode = document.createTextNode(name);
			p.appendChild(textNode);
			container.appendChild(p);
		}
	}

	function buildTable(data) {
		var table = document.getElementById('myTable');

		// Mostrar todos os dados e meter a primeira palavra em maisculo
		if (data.length > 0) {
			for (var i = 0; i < data.length; i++) {
				var row = ` <tr>
	  		<td><a href=" /Exercicio/${data[i].id}">${data[i].exercicio}</a></td>
	  		<td>${data[i].equipamento}</td>
	  		<td>${data[i].dificuldade}</td>
	  		<td>${data[i].musculo}</td>

	  		</tr>`
				table.innerHTML += row
			}
		} else {
			var row = `<tr><td colspan="6" class="text-center">Nenhum Dado Encontrado</td></tr>`;
			table.innerHTML += row;
		}



	}
	
</script>