<body class="bg-black text-dark mt-0" data-bs-spy="scroll" data-bs-target="#navScroll">

    <main>

        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="text-light">Dificuldades</h1>
                    <p class="lead text-light">Escolha a dificuldade que queres visualizar. Visualiza os exercícios que
                        podes realizar. Também podes criar a tua sessão de treino</p>
                    <p>
                        <a href="/Exercicios" class="btn btn-primary my-2">Exercícios</a>
                        <a href="/menu_sessao_treino" class="btn btn-secondary my-2">Sessão de treino</a>
                    </p>
                </div>
            </div>
        </section>

        <div class="album py-5 ">
            <div class="container">

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <div class="card shadow-sm">
                            
                            <div class="card-body">
                                <h2 class="card-text"> <a href="/iniciante">Iniciante</a> </h2>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <h2 class="card-text"> <a href="/intermediario">Intermediário</a></h2>
                                <div class="d-flex justify-content-between align-items-center">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <h2 class="card-text">
                                   <a href="/avancado">Avançado</a>
                                </h2>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>


</body>

</html>