{{> header }}

				<h2>
				Bem vindo ao BrowseMuscle!
				</h2>
				<p style="text-align: center">
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action active">
                          Dificuldades
                        </a>
                        <a href="#" class="list-group-item list-group-item-action">Iniciante</a>
                        <a href="#" class="list-group-item list-group-item-action">Intermediário</a>
                        <a href="#" class="list-group-item list-group-item-action">Avançado</a>
                      </div>
        	</div>

				</p>
				<style>
p {
    font-size: 20px;
}

.active {
background-color: rgb(201, 14, 14) !important;
}

</style>

{{> footer }}