{{> header }}
				<h2>
				Bem vindo ao BrowseMuscle!
				</h2>
				<p style="text-align: center">
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action active">
                          Equipamentos
                        </a>
                        <a href="#" class="list-group-item list-group-item-action">Máquina</a>
                        <a href="#" class="list-group-item list-group-item-action">Cabos</a>
                        <a href="#" class="list-group-item list-group-item-action">Barra</a>
                        <a href="#" class="list-group-item list-group-item-action">Halteres</a>
                        <a href="#" class="list-group-item list-group-item-action">Peso Corporal</a>
                        <a href="#" class="list-group-item list-group-item-action">Elástico</a>
                      </div>
        	</div>

				</p>
<style>
p {
    font-size: 20px;
}

.active {
background-color: rgb(201, 14, 14) !important;
}

</style>
		{{> footer }}