<h1 class="text-light">Pesquisa os exercícios por grupo muscular</h1>
<p class="text-light">Escolhe um músculo que queres treinar. Filtra e vẽ os melhores exercícios para o equipamento que tens, experiência e objetivos.</p>


<div x-data="{open:false}">
    <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-dark" @click="open = ! open">Escolhe o músculo</button>
    </div>
    <div x-show="open" class="gap-2 col-6 mx-auto" @click.outside="open = false">
        <ul class="list-group">
          <li class="list-group-item">Peito</li>
          <li class="list-group-item">Ombro</li>
          <li class="list-group-item">Tricep</li>
          <li class="list-group-item">Costas</li>
          <li class="list-group-item">Dorsal</li>
          <li class="list-group-item">Bicep</li>
          <li class="list-group-item">Quadricep</li>
          <li class="list-group-item">Hamstrings</li>
          <li class="list-group-item">Gémeos</li>
          <li class="list-group-item">Abdominais</li>
          <li class="list-group-item">Antebraço</li>
      </ul>
    </div>

</div>

<div x-data="{open:false}">
    <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-dark" @click="open = ! open">Escolhe o equipamento</button>
    </div>
    <div x-show="open" class="gap-2 col-6 mx-auto" @click.outside="open = false">
        <ul class="list-group">
          <li class="list-group-item">Barra</li>
          <li class="list-group-item">Máquina</li>
          <li class="list-group-item">Cabos</li>
          <li class="list-group-item">Halteres</li>
          <li class="list-group-item">Peso Corporal</li>
      </ul>
  </div>

</div>
<div x-data="{open:false}">
    <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-dark" @click="open = ! open">Escolhe a dificuldade</button>
    </div>
    <div x-show="open" class="gap-2 col-6 mx-auto" @click.outside="open = false">
        <ul class="list-group">
          <li class="list-group-item">Iniciante</li>
          <li class="list-group-item">Intermediário</li>
          <li class="list-group-item">Avançado</li>
      </ul>
  </div>

</div>