<html>
  <head>
    <meta charset="utf-8">
    <style>

body{
    margin: 0;
    padding: 0;
    background: url(../assets/img/fundo.jpg)  no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    
  }
  .box{
    width: 450px;
    background: rgba(0, 0, 0, 0.4);

    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Century Gothic',sans-serif;
  }
  .box-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
  .box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
  }
  .box h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
  }
  .box p{
    text-align: justify;
  }
  ul{
    margin: 0;
    padding: 0;
  }
  .box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
  }
  .box li a{
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
  }
  .box li a:hover{
    color: #b9b9b9;
  }
  
  
    </style>
  </head>
  <body>
<div class="box">
  <h2>Browse Muscle 🌎 </h2>
<p>
    Este projeto pode servir para as pessoas com que obtenham conhecimento mais amplo sobre exercícios físicos.
    <p>
    Para quem está a começar a ir para o ginásio e não tem muito conhecimento nem experiência sobre treino e é completamente iniciante, este projeto vai ser útil para conhecer vários exercícios e executa-los de forma correta.
    <p>
    As pessoas mesmo que conheçam mas têm dificuldades de realizar, este projeto possa ser muito útil para o indivíduo que queira conhecer e aprender.
    <p>
    O projeto irá se consistir num site em que se vai mostrar todos os exercícios possíveis e que cada exercício vai obter uma explicação da realização do movimento e vai ter uma demonstração.
</p>
</div>
</body>
</html>