<h2 style="text-align:center">{{title}} </h2>

<p>

Este projeto pode servir para as pessoas com que obtenham conhecimento mais amplo sobre exercícios físicos.

Para quem está a começar a ir para o ginásio e não tem muito conhecimento nem experiência sobre treino e é completamente iniciante, este projeto vai ser útil para conhecer vários exercícios e executa-los de forma correta.

As pessoas mesmo que conheçam mas têm dificuldades de realizar, este projeto possa ser muito útil para o indivíduo que queira conhecer e aprender.

O projeto irá se consistir num site em que se vai mostrar todos os exercícios possíveis e que cada exercício vai obter uma explicação da realização do movimento e vai ter uma demonstração da biomecânica do exercício.


</p>