<h1 class="text-light">Pesquisa os exercícios por grupo muscular</h1>
<p class="text-light">Escolhe um músculo que queres treinar. Filtra e vẽ os melhores exercícios para o equipamento que tens, experiência e objetivos.</p>


<div x-data="{open:false}">
    <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-dark" @click="open = ! open">Escolhe o músculo</button>
    </div>
    <div x-show="open" class="gap-2 col-2 mx-auto" @click.outside="open = false">
        <br>
        <ul class="list-group" id="myTable">

        </ul>
    </div>

</div>

<script type="text/javascript">
    fetch('/api/musculos/')
    .then(res => res.json())
    .then(data => {
        const nome_exercicios = data.result
        console.log(nome_exercicios)
        buildTable(nome_exercicios)
    })

    function buildTable(data) {
        var table = document.getElementById('myTable');
        if (data.length > 0) {
            for (var i = 0; i < data.length; i++) {
                var row = `
                <li class="list-group-item"><a class="link-danger" style="text-decoration: none;" href="/${data[i].nome}">${data[i].nome}</a></li>`
                table.innerHTML += row
            }
        }
    }
    </script>

</div>