{{> header }}
<style>
p {
    font-size: 20px;
}

.active {
background-color: rgb(201, 14, 14) !important;
}

</style>
<h2>
				BrowseMuscle - Músculos
				</h2>
				<p style="text-align: center">
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action active">
                          Músculos
                        </a>
                        <a href="https://ec53-132-145-18-76.eu.ngrok.io/peito_exercicios" class="list-group-item list-group-item-action">Peito</a>
                        <a href="https://ec53-132-145-18-76.eu.ngrok.io/ombros_exercicios" class="list-group-item list-group-item-action">Ombros</a>
                        <a href="https://ec53-132-145-18-76.eu.ngrok.io/triceps_exercicios" class="list-group-item list-group-item-action">Triceps</a>
                        <a href="https://ec53-132-145-18-76.eu.ngrok.io/biceps_exercicios" class="list-group-item list-group-item-action">Biceps</a>
                        <a href="https://ec53-132-145-18-76.eu.ngrok.io/costas_exercicios" class="list-group-item list-group-item-action">Costas</a>
                        <a href="https://ec53-132-145-18-76.eu.ngrok.io/abdominais_exercicios" class="list-group-item list-group-item-action">Abdominais</a>
                        <a href="https://ec53-132-145-18-76.eu.ngrok.io/antebraco_exercicios" class="list-group-item list-group-item-action">Antebraço</a>
                        <a href="https://ec53-132-145-18-76.eu.ngrok.io/dorsais_exercicios" class="list-group-item list-group-item-action">Dorsais</a>
                        <a href="https://ec53-132-145-18-76.eu.ngrok.io/gemeos_exercicios" class="list-group-item list-group-item-action">Gémeos</a>
                        <a href="https://ec53-132-145-18-76.eu.ngrok.io/quadriceps_exercicios" class="list-group-item list-group-item-action">Quadriceps</a>
                        <a href="https://ec53-132-145-18-76.eu.ngrok.io/traps_exercicios" class="list-group-item list-group-item-action">Traps</a>
                        <a href="https://ec53-132-145-18-76.eu.ngrok.io/hamstrings_exercicios" class="list-group-item list-group-item-action">Hamstrings</a>
                        <a href="https://ec53-132-145-18-76.eu.ngrok.io/gluteo_exercicios" class="list-group-item list-group-item-action">Glúteo</a>
{{> footer }}