{{> header }}
<style>
p {
    font-size: 20px;
}

.active {
background-color: rgb(201, 14, 14) !important;
}

</style>
<h2>
				BrowseMuscle - Músculos
				</h2>
				<p style="text-align: center">
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action active">
                          Músculos
                        </a>
                        <a href="/peito_exercicios" class="list-group-item list-group-item-action">Peito</a>
                        <a href="/ombros_exercicios" class="list-group-item list-group-item-action">Ombros</a>
                        <a href="/triceps_exercicios" class="list-group-item list-group-item-action">Triceps</a>
                        <a href="/biceps_exercicios" class="list-group-item list-group-item-action">Biceps</a>
                        <a href="/costas_exercicios" class="list-group-item list-group-item-action">Costas</a>
                        <a href="/abdominais_exercicios" class="list-group-item list-group-item-action">Abdominais</a>
                        <a href="/antebraco_exercicios" class="list-group-item list-group-item-action">Antebraço</a>
                        <a href="/dorsais_exercicios" class="list-group-item list-group-item-action">Dorsais</a>
                        <a href="/gemeos_exercicios" class="list-group-item list-group-item-action">Gémeos</a>
                        <a href="/quadriceps_exercicios" class="list-group-item list-group-item-action">Quadriceps</a>
                        <a href="/traps_exercicios" class="list-group-item list-group-item-action">Traps</a>
                        <a href="/hamstrings_exercicios" class="list-group-item list-group-item-action">Hamstrings</a>
                        <a href="/gluteo_exercicios" class="list-group-item list-group-item-action">Glúteo</a>
{{> footer }}