{{> header }}
<style>
p {
    font-size: 20px;
}

.active {
background-color: rgb(201, 14, 14) !important;
}

</style>
<h2>
				BrowseMuscle - Músculos
				</h2>
				<p style="text-align: center">
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action active">
                          Músculos
                        </a>
                        <a href="http://localhost:3000/peito_exercicios" class="list-group-item list-group-item-action">Peito</a>
                        <a href="http://localhost:3000/ombros_exercicios" class="list-group-item list-group-item-action">Ombros</a>
                        <a href="http://localhost:3000/triceps_exercicios" class="list-group-item list-group-item-action">Triceps</a>
                        <a href="http://localhost:3000/biceps_exercicios" class="list-group-item list-group-item-action">Biceps</a>
                        <a href="http://localhost:3000/costas_exercicios" class="list-group-item list-group-item-action">Costas</a>
                        <a href="http://localhost:3000/abdominais_exercicios" class="list-group-item list-group-item-action">Abdominais</a>
                        <a href="http://localhost:3000/antebraco_exercicios" class="list-group-item list-group-item-action">Antebraço</a>
                        <a href="http://localhost:3000/dorsais_exercicios" class="list-group-item list-group-item-action">Dorsais</a>
                        <a href="http://localhost:3000/gemeos_exercicios" class="list-group-item list-group-item-action">Gémeos</a>
                        <a href="http://localhost:3000/quadriceps_exercicios" class="list-group-item list-group-item-action">Quadriceps</a>
                        <a href="http://localhost:3000/traps_exercicios" class="list-group-item list-group-item-action">Traps</a>
                        <a href="http://localhost:3000/hamstrings_exercicios" class="list-group-item list-group-item-action">Hamstrings</a>
                        <a href="http://localhost:3000/gluteo_exercicios" class="list-group-item list-group-item-action">Glúteo</a>
{{> footer }}