<h2  class="text-light">
	Bem vindo ao BrowseMuscle!
</h2>
<p style="text-align: center">
<table class="table table-striped table-hover table-dark">
	<tr class="bg-danger">
		<th>ID</th>
		<th>Exercício</th>
		<th>Equipamento</th>
		<th>Dificuldade</th>
		<th>Músculo</th>
	</tr>
	<tbody id="myTable">

	</tbody>
</table>
<div id="exercicios">

</div>

</p>