<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/assets/dist/output.css" rel="stylesheet">
</head>
<body>
<p class="text-blue-600">The quick brown fox...</p>
</body>
</html>