<!DOCTYPE html>
<html>
<head>
	<title></title>

			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
			<style>
			body {
			  margin: 0;
			  font-family: Arial, Helvetica, sans-serif;
			}

			.topnav {
			  overflow: hidden;
			  background-color: #333;
			}

			.topnav a {
			  float: left;
			  color: #f2f2f2;
			  text-align: center;
			  padding: 14px 16px;
			  text-decoration: none;
			  font-size: 17px;
			}

			.topnav a:hover {
			  background-color: #ddd;
			  color: black;
			}

			.topnav a.active {
			  background-color: #8b05eb;
			  color: white;
			}
	</style>
</head>
<body>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<div class="topnav">
		<a href="https://ec53-132-145-18-76.eu.ngrok.io/">Página Principal</a>
		<a href="https://ec53-132-145-18-76.eu.ngrok.io/admin/alimentos">Visualizar Alimentos</a>
		<a class="active" href="https://ec53-132-145-18-76.eu.ngrok.io/admin/alimentos/post_alimentos">Inserir Alimentos</a>
	</div>

<form class="form" id="myForm">

</form>
<script>

  function buildPut(){
    var form = document.getElementById('myForm');

    var url = new URL(window.location.href);
    console.log(url)
    var id = url.searchParams.get("id");

    var alimento = url.searchParams.get("nome");
    var proteina = url.searchParams.get("proteina");
    var carbs = url.searchParams.get("carbs");
	var gordura = url.searchParams.get("gordura");

    var value = `
		<table class="table table-striped table-hover">
			<tr class="bg-danger">
				<th>ID</th>
				<th>Alimento</th>
				<th>Equipamento</th>
				<th>Dificuldade</th>
				<th>Músculo</th>
			</tr>
			<tbody>
				<td>${id}</td>
				<td>
					<div class="form-group ">
						<label for="exampleFormControlInput1">Nome do Alimento</label>
						<input type="text" class="form-control form-control-sm" id="exampleFormControlInput1" placeholder="nome do exercício" name="nome" value="${alimento}">
					</div>
				</td>
				<td>
				<div class="form-group">
					<label for="exampleFormControlInput1">Nome do Alimento</label>
						<input type="text" class="form-control form-control-sm" id="exampleFormControlInput1" placeholder="nome do exercício" name="proteina" value="${proteina}">
				</div>
				</td>
				<td>
					<div class="form-group">
                        <label for="exampleFormControlInput1">Nome do Alimento</label>
						<input type="text" class="form-control form-control-sm" id="exampleFormControlInput1" placeholder="nome do exercício" name="carbs" value="${carbs}">
				 </div>
				</td>
				<td>
					<div class="form-group">
                        <label for="exampleFormControlInput1">Nome do Alimento</label>
						<input type="text" class="form-control form-control-sm" id="exampleFormControlInput1" placeholder="nome do exercício" name="gordura" value="${gordura}">
		      </div>
				</td>
			</tbody>
		</table>





		<button type="submit" class="btn btn-success col-12" onclick="myFunction()">Atualizar</button>
    </form>

		`
      form.innerHTML += value
  }
  buildPut();


</script>
<script>
	function myFunction(){
		window.location.href="https://ec53-132-145-18-76.eu.ngrok.io/admin/alimentos";
	}
</script>


<script>
var url = new URL(window.location.href);
var id = url.searchParams.get("id");

url = "https://ec53-132-145-18-76.eu.ngrok.io/api/alimento/" + id;
console.log(url);
</script>

<script>

	const myForm = document.getElementById('myForm');

	myForm.addEventListener('submit', function(e) {
		e.preventDefault();

		const formData = new FormData(this);

		const formDataObject = Object.fromEntries(formData.entries());
		const formDataJsonString = JSON.stringify(formDataObject);


		console.log(formDataJsonString);
		url = "https://ec53-132-145-18-76.eu.ngrok.io/api/alimento/" + id;
		fetch(url, {
			method: 'PUT',
			headers: {
					'Content-Type': 'application/json'
			},

			body: formDataJsonString
		}).then(function (response) {
			return response.text();
		}).then(function (text) {
			console.log(text);
		}).catch(function(error){
			console.log(error);
		})

	})
</script>







</body>
</html>
