<br><br><br>
<div class="center">
    <h3 class="text-light">Calcular e exibir as calorias</h3><br>
     {{#if alert}}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <h4>{{alert}} Calorias</h4>
            
        </div>
        {{/if}}
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <form method="post" action="/calcular_calorias">
                <div class="form-group">
                    <label class="text-light" for="protein">Proteína (g):</label><br>
                    <input class="form-control" type="number" id="protein" name="protein" required><br>
                </div>
                <div class="form-group">
                    <label class="text-light" for="carbs">Carboidratos (g):</label><br>
                    <input class="form-control" type="number" id="carbs" name="carbs" required><br>
                </div>
                <div class="form-group">
                    <label class="text-light" for="fat">Gordura (g):</label><br>
                    <input class="form-control" type="number" id="fat" name="fat" required><br><br>
                </div>
                <button class="btn btn-primary" type="submit">Calcular</button>
            </form>
        </div>
       
        
        </body>

        </html>