{{> header }}


<body class="bg-black text-dark mt-0" data-bs-spy="scroll" data-bs-target="#navScroll">
{{> nav_bar}}

    <h1 class="text-light">Calculadora de 1RM</h1>
    {{#if alert}}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <h4>1RM: {{alert}}</h4>  <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
    </div>
    {{/if}}
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <form method="post" action="/calcular_1rm">
                <div class="form-group">
                    <label class="text-light" for="weight">Peso:</label><br>
                    <input type="number" id="weight" class="form-control" name="weight"><br>
                </div>
                <div class="form-group">
                    <label class="text-light" for="unit">Unidade:</label><br>
                    <select id="unit" class="form-control" name="unit">
                        <option value="kg">kg</option>
                        <option value="lb">lb</option>
                    </select><br>
                </div>
                <div class="form-group">
                    <label class="text-light" for="reps">Repetições:</label><br>
                    <input type="number" id="reps" class="form-control" name="reps" value="1"><br><br>
                </div>

                <button class="btn btn-primary btn-block" type="submit">Calcular</button>
            </form>
        </div>
    </div>

    <br>
    

