<div class="container bg-light">
    <form class="row g-3">
        <div class="input-group">
            <span class="input-group-text">Primeiro e Ultimo Nome</span>
            <input type="text" aria-label="First name" class="form-control">
            <input type="text" aria-label="Last name" class="form-control">
        </div>
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Email</label>
            <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Número de telemóvel</label>
            <input type="text" class="form-control" id="inputPassword4">
        </div>

            <label for="floatingTextarea2">Descrição</label>
            <textarea class="form-control" id="floatingTextarea2"
                 style="height: 100px"></textarea>
            
    
        
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">Atualizar as informações</button>
        </div>
    </form><br>
</div>