<body class="bg-black text-dark mt-0" data-bs-spy="scroll" data-bs-target="#navScroll">
    
    <header>
        <div class="collapse bg-dark" id="navbarHeader">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-7 py-4">
                        <h4 class="text-dark">About</h4>
                        <p class="text-muted">Add some information about the album below, the author, or any other
                            background context. Make it a few sentences long so folks can pick up some informative
                            tidbits. Then, link them off to some social networking sites or contact information.</p>
                    </div>
                    <div class="col-sm-4 offset-md-1 py-4">
                        <h4 class="text-white">Contact</h4>
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-white">Follow on Twitter</a></li>
                            <li><a href="#" class="text-white">Like on Facebook</a></li>
                            <li><a href="#" class="text-white">Email me</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </header>

    <main>

        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="text-light">Equipamentos</h1>
                    <p class="lead text-light">Escolhe um equipamento. Visualiza os exercícios que
                        podes realizar. Também podes criar a tua sessão de treino</p>
                    <p>
                        <a href="/Exercicios" class="btn btn-primary my-2">Exercícios</a>
                        <a href="/menu_sessao_treino" class="btn btn-secondary my-2">Sessão de treino</a>
                    </p>
                </div>
            </div>
        </section>

        <div class="album py-5 ">
            <div class="container">

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="/assets/img/dumbell.png">
                            <div class="card-body">
                                <p class="card-text">Halteres é uma ótima opção para quem deseja fortalecer e tonificar os músculos do corpo. Com eles, é possível realizar uma grande variedade de exercícios. É importante escolher os halteres com o peso adequado e realizar os exercícios com técnica correta para evitar lesões e maximizar os resultados.</p>
                                <div class="d-flex justify-content-between align-items-center">

                                    <div class="btn-group">
                                        
                                        <a href="/halteres" class="btn btn-sm btn-outline-secondary">Halteres</a>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="/assets/img/peso_corporal.png">

                            <div class="card-body">
                                <p class="card-text">Peso corporal é uma excelente opção para quem deseja fortalecer os músculos do corpo sem a necessidade dos equipamentos do ginásio. Com ele, é possível realizar uma grande variedade de exercícios. O treino com peso corporal pode ser realizado em qualquer lugar e é uma opção econômica e prática para manter a forma física.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="/peso%20corporal" class="btn btn-sm btn-outline-secondary">Peso Corporal</a>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="/assets/img/cabos.png">

                            <div class="card-body">
                                <p class="card-text">
                                    Cabos é uma ótima opção. Com eles, é possível realizar uma grande variedade de exercícios, que podem ser adaptados para diferentes objetivos. É importante ajustar a altura e a resistência dos cabos corretamente e realizar os exercícios com técnica adequada para evitar lesões e maximizar os resultados. O treino com cabos pode ser uma opção segura e eficiente para quem busca um treino completo e diversificado.
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="/cabos" class="btn btn-sm btn-outline-secondary">Cabos</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                   
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="/assets/img/machine.png">

                            <div class="card-body">
                                <p class="card-text">Máquinas é uma ótima opção para quem deseja fortalecer e tonificar os músculos do corpo. É importante ajustar a máquina corretamente e realizar os exercícios com técnica adequada para evitar lesões e maximizar os resultados. O treino com máquinas pode ser uma opção segura e eficiente para quem busca um treino completo e diversificado.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="/Costas" class="btn btn-sm btn-outline-secondary">Máquinas</a>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

    </main>


</body>

</html>