					<script>
		fetch('/api/exercicios_musculo/7')
			.then(res => res.json())
			.then(data => {
				const nome_exercicios = data.result
				fetch('/api/equipamentos/')
					.then(res => res.json())
					.then(data => {
						const nome_equipamentos = data.result
						fetch('/api/dificuldades/')
						.then(res => res.json())
						.then(data => {
							const nome_dificuldades = data.result
							
							fetch('/api/musculos/')
								.then(res => res.json())
								.then(data => {
									const nome_musculos = data.result
									buildTable(nome_exercicios, nome_equipamentos, nome_dificuldades, nome_musculos)
								})
						})
					})
			})

		function renderNames(names){
			const container = document.getElementById('exercicios');
			container.innerHtml = '';
				for (const name of names) {
				  const p = document.createElement('p');
				  const textNode = document.createTextNode(name);
				  p.appendChild(textNode);
				  container.appendChild(p);
				}
		}

		function buildTable(data, data_equipamento, data_dificuldade, data_musculo){
			var table = document.getElementById('myTable');

	  // Mostrar todos os dados e meter a primeira palavra em maisculo
	  if(data.length > 0){
		for(var i = 0; i<data.length; i++){
				  var row = ` <tr>
								  <td>${data[i].id}</td>
								  <td>${data[i].nome}</td>
								  <td>${data_equipamento[data[i].equipamento_id-1].nome}</td>
								  <td>${data_dificuldade[data[i].dificuldade_id-1].nome}</td>
								  <td>${data_musculo[data[i].musculo_id-1].nome}</td>
								
							  </tr>`
				  table.innerHTML += row
			  }
	  } else {
		var row = `<tr><td colspan="6" class="text-center">Nenhuma Dado encontrada</td></tr>`;
		table.innerHTML += row;
	  }



		}
      function editar(id){
        url = "/admin/update_exercicios?id=";
        //console.log(id);
         window.location = url + id;
      }

      function apagar(id){
        url_api = "/api/exercicio/" + id;
        console.log(url_api);
        fetch(url_api, {
          method: 'delete',
          headers: {
            'Content-Type': 'application/json'
          },

        }).then(response => response.json());

        window.location.href="/admin";
      }





      </script>