<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
	<style>
		.center {
			text-align: center;
		}
	</style>
</head>
<body>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


	<h1 style="text-align:center"><span style="font-size:36px">Elevacao Pelvica</span></h1>
	<div class="center" id="gif-squats">
		<p><img alt="" src="https://raw.githubusercontent.com/8fn/BrowseMuscle/a4ff283216cb6cb857256c81a22f811f5878ca8c/src/views/docs_page/imgs/elevacao%20pelvica/10601301-Barbell-Hip-Thrust_Hips_360.gif" style="height:267px; width:400px" /></p>
	</div>
<ol>
	<li>Sente-se no chão com um banco atrás de você. Coloque a barra sobre as pernas logo acima dos quadris.</li>
	<li>Incline-se contra o banco para que seus ombros fiquem apoiados nele, estique os braços para os lados usando o banco como apoio.</li>
	<li>Suba o peso com os pés e estendendo os quadris para cima. Apoie o peso com os ombros e os pés.</li>
	<li>Estenda lentamente o máximo que puder e, em seguida, retorne lentamente à posição inicial.</li>
</ol>



</body>

</html>


<p>&nbsp;</p>
