<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta https-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>BrowseMuscle</title>

  <meta name="description" content="Source code generated using layoutit.com">
  <meta name="author" content="LayoutIt!">
  <link rel="shortcut icon" href="../assets/img/favicon.ico">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>

  <style>
    p {
      font-size: 20px;
    }

    body {
      margin: 0;
      padding: 0;
      background: url(../assets/img/fundo.png) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;


    }


    .topnav {
      overflow: hidden;
      background-color: #333;
    }

    .topnav a {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }

    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }

    .topnav a.active {
      background-color: #8b05eb;
      color: white;
    }
  </style>

</head>

<body>

  <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">BrowseMuscle</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/pagina_principal">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          Exercícios
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="/exercicios">Exercícios</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <div id="dropdown-musculos"></div>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        Equipamentos
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item disabled">Equipamentos</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <div id="dropdown_equipamentos_navegacao"></div>
      </ul>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
      aria-expanded="false">
      Dificuldades
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li><a class="dropdown-item">Dificuldades</a></li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <div id="dropdown_dificuldades_navegacao"></div>
    </ul>
  </li>
</ul>
<form class="d-flex" method="POST" action="/" novalidate>
  <input class="form-control me-2" type="text" placeholder="Pesquisar" name="pesquisa" aria-label="Search">
  <button class="btn btn-outline-light" type="submit">Pesquisar</button>
</form>

<ul class="navbar-nav dropstart">
  <li class="nav-item dropdown ">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
    aria-expanded="false">
    <img src="../assets/img/hammer.png" />
  </a>
  <ul class="dropdown-menu dropleft" aria-labelledby="navbarDropdown">
    <li><a class="dropdown-item" href="#">Administrador</a></li>
    <li>
      <hr class="dropdown-divider">
    </li>
    <li><a class="dropdown-item" href="/admin/exercicios">CRUD Exercícios</a></li>
  </ul>
</li>
</ul>

</div>
</div>
</nav>

<h1 x-data="{ message: 'Bem vindo ao BrowseMuscle! 💪' }" class="text-light center" x-text="message"></h1>

<script>
  fetch('/api/musculos/')
  .then(res => res.json())
  .then(data => {
    const nome_musculos = data.result

    buildTable_musculo(nome_musculos)
  })
  function buildTable_musculo(data_musculos) {
    var dropdown_div = document.getElementById('dropdown-musculos');

    data_musculos.forEach(musculo => {

      var dropdown = `
      <li><a class="dropdown-item" href="/${musculo.nome}">${musculo.nome}</a></li>
      `
      dropdown_div.innerHTML += dropdown
    })


  }

</script>

<script>
  fetch('/api/equipamentos/')
  .then(res => res.json())
  .then(data => {
    const nome_equipamentos = data.result

    buildTable_equipamento(nome_equipamentos)
  })
  function buildTable_equipamento(data_equipamentos) {
    var dropdown_div_equipamentos = document.getElementById('dropdown_equipamentos_navegacao');
    data_equipamentos.forEach(equipamento => {

      var dropdown_equipamentos_navegacao = `
      <li><a class="dropdown-item" href="/${equipamento.nome}">${equipamento.nome}</a></li>
      `
      dropdown_div_equipamentos.innerHTML += dropdown_equipamentos_navegacao
    })


  }

</script>

<script>
  fetch('/api/dificuldades/')
  .then(res => res.json())
  .then(data => {
    const nome_dificuldades = data.result
    buildTable_dificuldades(nome_dificuldades)
  })
  function buildTable_dificuldades(data_dificuldades) {
    var dropdown_div_dificuldades = document.getElementById('dropdown_dificuldades_navegacao');
    data_dificuldades.forEach(dificuldade => {

      var dropdown_dificuldades_navegacao = `
      <li><a class="dropdown-item" href="/${dificuldade.nome}">${dificuldade.nome}</a></li>
      `
      dropdown_div_dificuldades.innerHTML += dropdown_dificuldades_navegacao
    })


  }

</script>