<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	
	<form class="form" id="myForm">
		<label for="inp_nome_exercicio">Nome do Exercício</label>
		<input type="text" name="nome_exercicio" id="inp_nome_exercicio">
		<br>
		<label for="inp_nome_equipamento">Nome do equipamento</label>
		<input type="text" name="nome_equipamento" id="inp_nome_equipamento">
		<br>
		<label for="inp_nome_dificuldade">Nome da dificuldade</label>
		<input type="text" name="nome_dificuldade" id="inp_nome_dificuldade">
		<br>
		<label for="inp_nome_musculo">Nome do Musculo</label>
		<input type="text" name="nome_musculo" id="inp_nome_musculo">
		<br>
		<label for="inp_nome_musculo">Link</label>
		<input type="text" name="link_url" id="inp_nome_musculo">
		<br>
		<button type="submit" onclick="myFunction()">Inserir</button>
	</form>

	<script>
		function myFunction(){
			window.location.href="http://localhost:3000/api/";
		}
	</script>
	<script>
		const myForm = document.getElementById('myForm');

		myForm.addEventListener('submit', function(e) {
			e.preventDefault();

			const formData = new FormData(this);

			const formDataObject = Object.fromEntries(formData.entries());
			const formDataJsonString = JSON.stringify(formDataObject);
			// value.topics = formData.getAll("topics");
			console.log(formDataJsonString);
			fetch('http://localhost:3000/api/exercicio/', {
				method: 'POST',
				headers: {
						'Content-Type': 'application/json'
				},

				body: formDataJsonString
			}).then(function (response) {
				return response.text();
			}).then(function (text) {
				console.log(text);
			}).catch(function(error){
				console.log(error);
			})

		})
	</script>

</body>
</html>