{{> header}}
  <body class="bg-black text-white mt-0" data-bs-spy="scroll" data-bs-target="#navScroll">
    {{> nav_bar}} <br> <br> <br>
    <main>
      <div class="container">
  <div class="row d-flex justify-content-center py-vh-5 pb-0">
    <div class="col-12 col-lg-10 col-xl-8">
      <div class="row">
        <div class="col-12">
          <h1 class="display-1 fw-bold">Funcionalidades</h1>
          <p class="lead border-top pt-5 mt-5" data-aos="fade-up">BrowseMuscle ajuda as pessoas interessadas em fitness a encontrar informações úteis sobre exercícios e saber os valores nutricionais da alimentação, e também a criar sessões de treino personalizados. É possível visualizar exercícios por grupo muscular, além de encontrar informações detalhadas sobre cada um deles, como vídeo demonstrativo e equipamento necessário. Além disso, o BrowseMuscle oferece uma base de dados de alimentos para ajudar os utilizadores a terem conhecimento das informações nutricionais, como quantidade de calorias, carboidratos, proteínas e gorduras.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 py-vh-2">
      <img src="/assets/video/deadlift2.gif" width="946" height="682" class="img-fluid position-relative rounded-5 shadow" data-aos="zoom-up">
    </div>
    </div>
        <div class="col-12 col-lg-10 col-xl-8">
      <div class="row d-flex align-items-start" data-aos="fade-right">
        <div class="col-12 col-lg-7">
          <h2 class="h3 mt-5 border-top pt-5">Exercícios</h2>
          <p class="text-secondary">No browsemuscle, após autenticar-se, tem se a possibilidade de acessar a uma tabela completa de exercícios que pode ser visualizada por equipamento, dificuldade e músculo trabalhado. Cada exercício contém informações detalhadas, incluindo descrição e vídeo explicativo para ajudá-lo a executá-lo corretamente. Além disso, os utilizadores podem explorar a ferramenta de cálculo de 1RM para descobrir sua 1 repetição máxima. A ferramenta de cálculo de 1RM é útil para planear e monitorar o progresso de seus treinos, permitindo que ajuste o programa de treino para atingir seus objetivos de forma eficaz. Com essas funcionalidades, o browsemuscle é uma ótima opção para aqueles que desejam melhorar seu desempenho físico e alcançar seus objetivos de fitness.</p>
        </div>
        <div class="col-12 col-lg-4 offset-lg-1 bg-gray-900 p-5 mt-5">
          <h3 class="h6">Exercícios</h3>
          <p class="text-secondary">
            <a class="link-fancy link-fancy-light me-2" href="/musculos">Músculos <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
</svg></a> 
            <a class="link-fancy link-fancy-light me-2" href="/exercicios">Exercícios <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
</svg></a> 

          </p>
        </div>
      </div>

      <div class="row d-flex align-items-start" data-aos="fade-right">
        <div class="col-12 col-lg-7">
          <h2 class="h3 mt-5 border-top pt-5">Alimentos</h2>
          <p class="text-secondary">Após autenticar-se, o utilizador tem acesso a uma seção que mostra uma lista de alimentos e suas respectivas informações nutricionais, como proteína, carboidratos e gordura. O utilizador pode criar seus próprios alimentos e adicioná-los à lista. Cada alimento também terá um gráfico mostrando a distribuição de macronutrientes. O utilizador pode facilmente visualizar os seus alimentos na tabela e também pode editar ou excluir alimentos já existentes. Com essas informações disponíveis, o utilizador pode planear melhor a sua dieta de acordo com as suas necessidades nutricionais.</p>
        </div>
        <div class="col-12 col-lg-4 offset-lg-1 bg-gray-900 p-5 mt-5">
          <h3 class="h6">Alimentos</h3>
          <p class="text-secondary">
             <a class="link-fancy link-fancy-light me-2" href="/alimentos">Alimentos <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
</svg></a> 
            <a class="link-fancy link-fancy-light me-2" href="/calcular_calorias">Calcular Calorias <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
</svg></a> 
<a class="link-fancy link-fancy-light me-2" href="/calcular_macro">Calcular Macros <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
</svg></a> 
          </p>
        </div>
      </div>
      <div class="row d-flex align-items-start" data-aos="fade-right">
        <div class="col-12 col-lg-7">
          <h2 class="h3 mt-5 border-top pt-5">Sessões de treino
          </h2>
          <p class="text-secondary">o utilizador tem acesso a uma lista de sessões de treino que ele criou previamente. Ele pode criar suas próprias sessões de treino e adicionar os exercícios que deseja realizar em cada uma delas. Durante a seleção de cada exercício, o utilizador pode definir o objetivo e a meta de número de repetições, carga e número de séries para cada um. Quando o utilizador adiciona o exercício à sessão de treino, ele pode iniciar a realização do exercício e apontar quantas repetições fez para cada série. Quando o exercício estiver concluído, o utilizador pode finalizar o treino e visualizar um gráfico com as informações sobre as repetições feitas em cada série. Dessa forma, o utilizador pode acompanhar o seu progresso em cada exercício e sessão de treino.</p>
        </div>
        <div class="col-12 col-lg-4 offset-lg-1 bg-gray-900 p-5 mt-5">
          <h3 class="h6">Treino</h3>
          <p class="text-secondary">
             <a class="link-fancy link-fancy-light me-2" href="/menu_sessao_treino">Sessões Treino <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
</svg></a> 
           <a class="link-fancy link-fancy-light me-2" href="/calcular_1rm">Calcular 1RM <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
</svg></a> 
          </p>
        </div>
      </div>
      
  </div>
  <div class="row d-flex align-items-start justify-content-center py-vh-3 text-muted" data-aos="fade">
      <div class="col-12 col-lg-10 col-xl-9">
      <div class="p-5 small bg-gray-900">
      <p>*At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
        et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
        ipsum dolor sit amet. Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
        ipsum dolor sit amet. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p>
    </div>
    </div>
  </div>
</div>

    </main>

    {{> footer}}








<script src="/assets/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/aos.js"></script>
<script>
AOS.init({
 duration: 800, // values from 0 to 3000, with step 50ms
});
</script>
<script>
  let scrollpos = window.scrollY
  const header = document.querySelector(".navbar")
  const header_height = header.offsetHeight

  const add_class_on_scroll = () => header.classList.add("scrolled", "shadow-sm")
  const remove_class_on_scroll = () => header.classList.remove("scrolled", "shadow-sm")

  window.addEventListener('scroll', function() {
    scrollpos = window.scrollY;

    if (scrollpos >= header_height) { add_class_on_scroll() }
    else { remove_class_on_scroll() }

    console.log(scrollpos)
  })
</script>

  </body>
</html>
