<div class="d-flex align-items-center justify-content-center" style="height: 80vh">

    <form class="row g-3" method="post" action="/lista_plano_treino">

        <div class="mb-3">
            
            <label for="inputEmail4" class="form-label text-light">Nome da sessão de treino</label>
            <input type="text" class="form-control" id="inputEmail4" name="nome">
        </div>

        <label for="floatingTextarea2" class="text-light">Descrição</label>
        <textarea class="form-control" id="floatingTextarea2" style="height: 100px" name="descricao"></textarea>
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">Criar sessão de treino</button>
            
        </div>
    </form><br>

</div>
</div>