<div class="d-flex align-items-center justify-content-center" style="height: 60vh">
<div class="container">
    {{#each rows}}
    <h1 class="text-light">{{exercicio_nome}} - {{carga}}KG - {{reps_objetivo}} Reps</h1>
    {{/each}}
    <form method="POST" action="#">
        
        <div class="row g-3">
             <div class="col">
                <input type="number" step="any" class="form-control" placeholder="1 Série - Repetições" name="reps_set1">
            </div>
            <div class="col">
                <input type="number" step="any" class="form-control" placeholder="2 Série - Repetições" name="reps_set1">
            </div>
            
        </div>
        <br>
        <div class="d-grid gap-2">
            <button class="btn btn-primary" type="submit">Apontar</button>
        </div>
    </form>
</div></div>