<div class="d-flex align-items-center justify-content-center" style="height: 60vh">

<h1 class="text-light">Pesquisa os exercícios por grupo muscular</h1>
<p class="text-light">Escolhe um grupo muscular que queres treinar. Filtra e vê os melhores exercícios para o equipamento que
    tens, experiência e objetivos.</p>

<div class="d-grid gap-2 col-6 mx-auto">
    <a class="btn btn-dark" href="/lista_plano_treino">As tuas sessões de treino</a>
    <a class="btn btn-dark" href="/Musculos">Escolhe o músculo</a>
    <a class="btn btn-dark" href="/calcular_1rm">Calcular 1RM</a>
</div>


</div>
</div>