<div class="d-flex align-items-center justify-content-center" style="height: 60vh">
    <h1 class="text-center text-light">Pesquisa os exercícios por grupo muscular</h1>
    <p class="text-center text-light">Escolhe um grupo muscular que queres treinar. Filtra e vê os melhores exercícios
        para o equipamento que
        tens, experiência e objetivos.</p>

    <div class="d-flex flex-column align-items-center">
        <a class="btn btn-dark mt-3" href="/lista_sessao_treino">As tuas sessões de treino</a>
        <a class="btn btn-dark mt-3" href="/Musculos">Escolhe o músculo</a>
        <a class="btn btn-dark mt-3" href="/calcular_1rm">Calcular 1RM</a>
    </div>
</div>

<style>
    @media (max-width: 767px) {
        .d-flex {
            flex-direction: column;
        }
    }
</style>