{{> header}}
  <body class="bg-black text-white mt-0" data-bs-spy="scroll" data-bs-target="#navScroll">
<br><br>
    {{> nav_bar}}

    <main>
      <div class="w-100 overflow-hidden position-relative bg-black text-white" data-aos="fade">
  <div class="position-absolute w-100 h-100 bg-black opacity-75 top-0 start-0"></div>
  <div class="container py-vh-4 position-relative mt-5 px-vw-5 text-center">
  <div class="row d-flex align-items-center justify-content-center py-vh-5">
    <div class="col-12 col-xl-10">
      <span class="h5 text-secondary fw-lighter">A nossa missão</span>
      <h1 class="display-huge mt-3 mb-3 lh-1">BrowseMuscle </h1>
      <h1 class="display-huge mt-3 mb-3 lh-1">Fitness & Musculação</h1>
      
    </div>
    <div class="col-12 col-xl-8">
      <p class="lead text-secondary">Obtém conhecimento mais amplo sobre exercício físico! Conhece e aprende a executar de forma correta os exercícios.
      </p>
    </div>
    <div class="col-12 text-center">
      <a href="/auth/registar" class="btn btn-xl btn-light">Junta te a nós
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
</svg>
</a>
    </div>
  </div>
</div>

</div>

<div class="w-100 position-relative bg-black text-white bg-cover d-flex align-items-center">
  <div class="container-fluid px-vw-5">
    <div class="position-absolute w-100 h-50 bg-dark bottom-0 start-0"></div>
    <div class="row d-flex align-items-center position-relative justify-content-center px-0 g-5">
      <div class="col-12 col-lg-6">
        <img src="/assets/video/one_leg_press.gif" width="2280" height="1732" alt="abstract image" class="img-fluid position-relative rounded-5 shadow" data-aos="fade-up">
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <img src="/assets/video/shoulder_press.gif" width="1116" height="1578" alt="abstract image" class="img-fluid position-relative rounded-5 shadow" data-aos="fade-up" data-aos-duration="2000">
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <img src="/assets/video/one_arm.gif" width="1116" height="848" alt="abstract image" class="img-fluid position-relative rounded-5 shadow" data-aos="fade-up" data-aos-duration="3000">
      </div>
    </div>
  </div>
</div>
<div class="bg-dark">
  <div class="container px-vw-5 py-vh-5">
    <div class="row d-flex align-items-center">
      <div class="col-12 col-lg-7 text-lg-end" data-aos="fade-right">
        <span class="h5 text-secondary fw-lighter">Objetivo</span>
        <h2 class="display-4">Aprender a executar de forma correta e conhecer novos exercícios para atingir o seu músculo desejado</h2>
      </div>
      <div class="col-12 col-lg-5" data-aos="fade-left">
        <h3 class="pt-5">Visualiza a nossa tabela de exercícios</h3>
        <p class="text-secondary">Escolha o grupo muscular que deseja atingir. Uma vez no grupo
                                muscular, use as opções de classificação e filtro para encontrar os melhores exercícios
                                para o equipamento que você possui, sua experiência de treino e objetivos<br>
          <a href="/content" class="link-fancy link-fancy-light me-2">Conta me mais</a>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
</svg>
</p>
        <h3 class="border-top border-secondary pt-5 mt-5">Usa as ferramentas que poderás vir precisar</h3>
        <p class="text-secondary">Usa várias ferramentas. Como por exemplo, calcular a quantidade de
                                macronutrientes e calorias que precisas de comer e calcular o peso para X reps.<br>
          <a href="/content" class="link-fancy link-fancy-light me-2">Conta me mais</a>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
</svg>
</p>
      </div>
    </div>
  </div>
</div>

<div class="bg-black py-vh-3">
  <div class="container bg-black px-vw-5 py-vh-3 rounded-5 shadow">

  <div class="row gx-5">
    <div class="col-12 col-md-6">
      <div class="card bg-transparent mb-5" data-aos="zoom-in-up">
        <div class="bg-dark shadow rounded-5 p-0">
          <img src="/assets/video/squat.gif" width="582" height="327" alt="abstract image" class="img-fluid rounded-5 no-bottom-radius" loading="lazy">
          <div class="p-5">
            <h2 class="fw-lighter">Sê consistente e faz as tuas sessões de treino</h2>
            <p class="pb-4 text-secondary">Ser consistente é fundamental para quem quer transformar-se e crescer no mundo da musculação. Com consistência, é possível evoluir e alcançar objetivos cada vez maiores.</p>
            <a href="#" class="link-fancy link-fancy-light">Read more</a>
          </div>
        </div>
      </div>

      <div class="card bg-transparent" data-aos="zoom-in-up">
        <div class="bg-dark shadow rounded-5 p-0">
          <img src="/assets/video/bicep.gif" width="582" height="442" alt="abstract image" class="img-fluid rounded-5 no-bottom-radius" loading="lazy">
          <div class="p-5">
            <h2 class="fw-lighter">Planeia as tuas sessões de treino</h2>
            <p class="pb-4 text-secondary">Planear as sessões de treino é essencial para obter resultados consistentes e efetivos na musculação. Podes definir metas realistas e acompanhar o seu progresso ao longo do tempo. Planear as suas sessões de treino permite que seja mais eficiente e eficaz o que pode levar a resultados mais rápidos e satisfatórios.</p>
            <a href="#" class="link-fancy link-fancy-light">Read more</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="p-5 pt-0 mt-5" data-aos="fade">
        <span class="h5 text-secondary fw-lighter">Organiza-te!</span>
        <h2 class="display-4">Cria as tuas próprias sessões de treino!</h2>
      </div>
      <div class="card bg-transparent mb-5 mt-5" data-aos="zoom-in-up">
        <div class="bg-dark shadow rounded-5 p-0">
          <img src="/assets/video/hacksquat.gif" width="582" height="390" alt="abstract image" class="img-fluid rounded-5 no-bottom-radius" loading="lazy">
          <div class="p-5">
            <h2 class="fw-lighter">Anota a carga e repetições</h2>
            <p class="pb-4 text-secondary">Anotar a carga e as repetições é essencial para medir o progresso nos treinos. Ao manter um registo consistente, é possível ajustar a intensidade dos exercícios para crescer e progredir carga. Por isso, sempre que possível, anote as suas cargas e repetições para obter os melhores resultados.</p>
            <a href="#" class="link-fancy link-fancy-light">Read more</a>
          </div>
        </div>
      </div>

      <div class="card bg-transparent" data-aos="zoom-in-up">
        <div class="bg-dark shadow rounded-5 p-0">
          <img src="/assets/video/deadlift.gif" width="582" height="327" alt="abstract image" class="img-fluid rounded-5 no-bottom-radius" loading="lazy">
          <div class="p-5">
            <h2 class="fw-lighter">Seleciona os exercícios</h2>
            <p class="pb-4 text-secondary"> importante dedicar algum tempo para selecionar os exercícios certos para suas sessões de treino. É uma parte importante do planeamento de um treino eficaz</p>
            <a href="#" class="link-fancy link-fancy-light">Read more</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

</div>
<div class="bg-dark position-relative">
  <div class="container px-vw-5 py-vh-5">
    <div class="row d-flex align-items-center">

      <div class="col-12 col-lg-7">
        <img class="img-fluid rounded-5 mb-n5 shadow" src="/assets/video/food.gif" width="512" height="512" alt="a nice person" loading="lazy" data-aos="zoom-in-right">
        
      </div>
      <div class="col-12 col-lg-5 bg-dark rounded-5 py-5" data-aos="fade">
        <span class="h5 text-secondary fw-lighter">Alimentos</span>
        <h2 class="display-4">Acede á nossa tabela de alimentos e visualiza as macros!</h2>
      </div>
    </div>
  </div>
</div>


<div class="bg-dark py-vh-5">
<div class="container px-vw-5">
  <div class="row d-flex gx-5 align-items-center">
    <div class="col-12 col-lg-6">
      <div class="rounded-5 bg-black p-5 shadow" data-aos="zoom-in-right">
        <div class="fs-1">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
</svg>


          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
</svg>


          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
</svg>


          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
</svg>


          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
</svg>


        </div>
        <p class="text-secondary lead">"Muito útil até mesmo para quem já é avançado no ginásio. É possivel conhecer e realizar novos exercícios para o determinado músculo que eu quero."</p>
        <div class="d-flex justify-content-start align-items-center border-top border-secondary pt-3">
          <img src="/assets/img/ricardo.jpg" width="96" height="96" class="rounded-circle me-3" alt="a nice person" data-aos="fade" loading="lazy">
          <div>
            <span class="h6 fw-5">Ricardo Nuno Texeira Magalhães</span><br>
            <small class="text-secondary">Aluno da Escola Secundária Filipa de Vilhena 12ºJ</small>
          </div>
        </div>
      </div>
      <div class="rounded-5 bg-black p-5 shadow mt-5" data-aos="zoom-in-right">
        <div class="fs-1">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
</svg>


          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
</svg>


          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
</svg>


          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
</svg>


          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-half" viewBox="0 0 16 16">
  <path d="M5.354 5.119 7.538.792A.516.516 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.537.537 0 0 1 16 6.32a.548.548 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.52.52 0 0 1-.146.05c-.342.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.172-.403.58.58 0 0 1 .085-.302.513.513 0 0 1 .37-.245l4.898-.696zM8 12.027a.5.5 0 0 1 .232.056l3.686 1.894-.694-3.957a.565.565 0 0 1 .162-.505l2.907-2.77-4.052-.576a.525.525 0 0 1-.393-.288L8.001 2.223 8 2.226v9.8z"/>
</svg>

        </div>
        <p class="text-secondary lead">"Muito bom para quem está a começar a ir treinar e está perdido no caminho. Para quem está a começar a frequentar o ginásio e não sabem o que fazer, deviam utilizar o BrowseMuscle."</p>
        <div class="d-flex justify-content-start align-items-center border-top border-secondary pt-3">
          <img src="/assets/img/erico.jpg" width="96" height="96" class="rounded-circle me-3" alt="a nice person" data-aos="fade" loading="lazy">
          <div>
            <span class="h6 fw-5">Érico Veloso</span><br>
            <small class="text-secondary">Aluno da Escola Secundária Filipa de Vilhena 12ºJ</small>
          </div>
        </div>
      </div>

    </div>
    <div class="col-12 col-lg-6">
      <div class="p-5 pt-0" data-aos="fade">
        <span class="h5 text-secondary fw-lighter">O que os outros têm a dizer</span>
        <h2 class="display-4">BrowseMuscle</h2>
      </div>
      <div class="rounded-5 bg-black p-5 shadow mt-5 gradient" data-aos="zoom-in-left">
        <div class="fs-1">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
</svg>


          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
</svg>


          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
</svg>


          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
</svg>


          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
</svg>


        </div>
        <p class="lead">"Fantástica utilidade para todos os atletas para quem têm dificuldade em executar algum exercício."</p>
        <div class="d-flex justify-content-start align-items-center border-top pt-3">
          <img src="/assets/img/moura.jpg" width="96" height="96" class="rounded-circle me-3" alt="a nice person" data-aos="fade" loading="lazy">
          <div>
            <span class="h6 fw-5">José Guilherme Mounteiro Moura</span><br>
            <small>Aluno da Escola Secundária Filipa de Vilhena 12ºJ</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>

    </main>

    
{{> footer}}

<script src="/assets/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/aos.js"></script>
<script>
AOS.init({
 duration: 800, // values from 0 to 3000, with step 50ms
});
</script>
<script>
  let scrollpos = window.scrollY
  const header = document.querySelector(".navbar")
  const header_height = header.offsetHeight

  const add_class_on_scroll = () => header.classList.add("scrolled", "shadow-sm")
  const remove_class_on_scroll = () => header.classList.remove("scrolled", "shadow-sm")

  window.addEventListener('scroll', function() {
    scrollpos = window.scrollY;

    if (scrollpos >= header_height) { add_class_on_scroll() }
    else { remove_class_on_scroll() }

    console.log(scrollpos)
  })
</script>

  </body>
</html>
