<!-- Portfolio Grid-->
<style>
.same-width {
  width: 100px; /* Set the width to 100px */
}
</style>

<section class="page-section" id="portfolio">

    <div class="text-center">
        <h2 class="section-heading text-uppercase text-light">Músculos</h2>
        <h3 class="section-subheading text-muted">Escolhe o grupo muscular para visualizar os exercícios que o atingem
        </h3>
    </div>
    <div class="row">

        <div class="col-lg-4 col-sm-6 mb-4">
            <!-- Portfolio item 1-->
            <div class="portfolio-item">
                <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <svg width="300" height="400">
                        <image xlink:href="/assets/img/Musculos/bracos.svg" width="400" filter="invert(100%)" />
                    </svg>
                </a>
                <div class="portfolio-caption">
                    <div class="portfolio-caption-heading">Braços</div>
                    <div class="portfolio-caption-subheading text-muted">Exercícios para braços</div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
            <!-- Portfolio item 2-->
            <div class="portfolio-item">
                <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <svg width="400" height="400">
                        <image xlink:href="/assets/img/Musculos/peitos.svg" width="400" filter="invert(100%)" />
                    </svg>

                </a>
                <div class="portfolio-caption">
                    <div class="portfolio-caption-heading">Peito</div>
                    <div class="portfolio-caption-subheading text-muted">Exercícios para peito</div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
            <!-- Portfolio item 3-->
            <div class="portfolio-item">
                <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <svg width="400" height="400">
                        <image xlink:href="/assets/img/Musculos/abdominal.svg" width="400" filter="invert(100%)" />
                    </svg>
                </a>
                <div class="portfolio-caption">
                    <div class="portfolio-caption-heading">Abdominais</div>
                    <div class="portfolio-caption-subheading text-muted">Exercícios para abdominais</div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
            <!-- Portfolio item 4-->
            <div class="portfolio-item">
                <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal4">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <svg width="400" height="400">
                        <image xlink:href="/assets/img/Musculos/ombro.svg" width="400" filter="invert(100%)" />
                    </svg>

                </a>
                <div class="portfolio-caption">
                    <div class="portfolio-caption-heading">Ombros</div>
                    <div class="portfolio-caption-subheading text-muted">Exercícios para ombros</div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
            <!-- Portfolio item 5-->
            <div class="portfolio-item">
                <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal5">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                    </div>

                    <svg width="400" height="400">
                        <image xlink:href="/assets/img/Musculos/costas.svg" width="400" filter="invert(100%)" />
                    </svg>
                </a>
                <div class="portfolio-caption">
                    <div class="portfolio-caption-heading">Costas</div>
                    <div class="portfolio-caption-subheading text-muted">Exercícios para costas</div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <!-- Portfolio item 6-->
            <div class="portfolio-item">
                <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal6">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <svg width="400" height="400">
                        <image xlink:href="/assets/img/Musculos/pernas.svg" width="400" filter="invert(100%)" />
                    </svg>

                </a>
                <div class="portfolio-caption">
                    <div class="portfolio-caption-heading">Pernas</div>
                    <div class="portfolio-caption-subheading text-muted">Exercícios para pernas</div>
                </div>
            </div>
        </div>



    </div>
    </div>
</section>
<!-- Portfolio item 1 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-dark">
            <div class="close-modal " data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" />
            </div>
            <div class="container ">
                <div class="row justify-content-center">
                    <div class="col-lg-8 ">
                        <div class="modal-body bg-dark">
                            <!-- Project details-->
                            <h2 class="text-uppercase text-light">Braços</h2>
                            <p class="item-intro text-light text">Exercícios para braços</p>
                            <p class="text-light">Os músculos do braço são um conjunto de músculos localizados na região dos braços, desde o ombro até o punho. São responsáveis por realizar movimentos de flexão, extensão, rotação e adução dos braços. Para fortalecer os músculos dos braços, existem diversos exercícios que podem ser realizados, como flexões de braço, tríceps pushdown, curl de bíceps com barra e curl de bíceps com halteres. É importante lembrar de sempre usar a técnica adequada e aumentar gradativamente a carga de trabalho para evitar lesões.</p>
                            <svg width="200" height="200">
                                <image xlink:href="/assets/img/Musculos/bicep.svg" width="200" filter="invert(100%)" />
                            </svg>
                            
                            
                            <p></p>
                            <ul class="list-inline">
                                <li>
                                    <strong class="text-light">Seguintes músculos</strong><br><br>
                                    <a class="btn btn-primary same-width" href="/bicep">Bicep</a><br>
                                    <a class="btn btn-primary same-width" href="/tricep">Tricep</a><br>
                                    <a class="btn btn-primary same-width" href="/antebraco">Antebraco</a>
                                </li>
                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Fechar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 2 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-dark">
            <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" />
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body bg-dark">
                            <!-- Project details-->
                            <h2 class="text-uppercase text-light">Peito</h2>
                            <p class="item-intro text-light">Exercícios para peito</p>
                            <p class="text-light">O músculo peito, também conhecido como músculo peitoral, é um conjunto de músculos grandes e fortes que se localizam na região do tórax, abaixo do pescoço e acima do abdômen. São responsáveis por conectar o braço ao tronco e são fundamentais para a execução de atividades que envolvem o movimento dos braços, como levantar objetos, puxar e empurrar. Para fortalecer os músculos do peito, existem diversos exercícios que podem ser realizados, como flexões de braço, supino reto com halteres, supino inclinado com barra e supino inclinado com halteres. É importante lembrar de sempre usar a técnica adequada e aumentar gradativamente a carga de trabalho para evitar lesões. Além disso, é importante equilibrar o treinamento dos músculos do peito com o treinamento dos músculos das costas, para evitar desequilíbrios musculares.</p>
                            <svg width="400" height="400">
                                <image xlink:href="/assets/img/Musculos/peitos.svg" width="400" filter="invert(100%)" />
                            </svg>

                            <ul class="list-inline">
                                <li>
                                    <strong class="text-light">Tabela de exercícios</strong><br><br>
                                    <a class="btn btn-primary same-width" href="/peito">Peito</a>
                                </li>

                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Fechar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 3 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-dark">
            <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" />
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body bg-dark">
                            <!-- Project details-->
                            <h2 class="text-uppercase text-light">Abdominais</h2>
                            <p class="item-intro text-light">Exercícios para abdominais</p>
                            <p class="text-light">Os músculos abdominais são um conjunto de músculos localizados na região do abdômen, que formam a parede abdominal e são responsáveis por proteger os órgãos internos, estabilizar a coluna vertebral e auxiliar na respiração e no movimento. Existem diversas maneiras de fortalecer os músculos abdominais, como exercícios de flexão do tronco, como abdominais e pranchas, ou através de exercícios de rotação e inclinação do tronco, como os oblíquos. É importante lembrar de sempre manter a postura correta e usar a técnica adequada ao realizar qualquer tipo de exercício para evitar lesões.</p>
                            <svg width="400" height="400">
                                <image xlink:href="/assets/img/Musculos/abdominal.svg" width="400"
                                    filter="invert(100%)" />
                            </svg>
                            <ul class="list-inline">
                                <li>
                                    <strong class="text-light">Tabela de exercícios</strong><br><br>
                                    <a class="btn btn-primary" href="/abdominais">Abdominais</a>
                                </li>
                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Fechar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 4 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-dark">
            <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" />
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body bg-dark">
                            <!-- Project details-->
                            <h2 class="text-uppercase text-light">Ombros</h2>
                            <p class="item-intro text-light">Exercícios para ombros</p>
                            <p class="text-light">Os músculos dos ombros são importantes para muitas atividades quotidianas, como levantar objetos, alcançar prateleiras altas e praticar desportos. Eles são importantes pois contribuem para o equilíbrio e a estabilidade do corpo durante o treinamento de força e ajudam a construir uma aparência muscular atraente. Para treinar os músculos dos ombros, existem muitos exercícios eficazes que podem ser incluídos no seu plano de treino. Alguns exemplos incluem elevações laterais de ombro com halteres, press com Barra para ombros, elevações frontais com halteres e etc...</p>
                            <svg width="400" height="400">
                                <image xlink:href="/assets/img/Musculos/ombro.svg" width="400" filter="invert(100%)" />
                            </svg>
                            <ul class="list-inline">
                                <strong class="text-light">Seguintes músculos</strong><br><br>
                                    <a class="btn btn-primary same-width" href="/ombro">Ombros</a><br>
                                    <a class="btn btn-primary same-width" href="/trapezio">Trapezio</a><br>
                                    
                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Fechar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 5 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-dark">
            <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" />
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body bg-dark">
                            <!-- Project details-->
                            <h2 class="text-uppercase text-light">Costas</h2>
                            <p class="item-intro text-light">Exercícios para costas.</p>
                            <p class="text-light">Os músculos das costas são importantes para a postura, o equilíbrio e a força corporal geral. Eles também são importantes para muitas atividades cotidianas, como levantar objetos pesados e sustentar o corpo durante atividades físicas. Os músculos das costas também são valorizados por contribuir para uma aparência atraente e proporcionada. Para treinar os músculos das costas, existem muitos exercícios eficazes que podem ser incluídos no seu treino. Alguns exemplos incluem remadas com barra, remadas com halteres, puxadas na barra fixa e elevações de tronco.</p>
                            <svg width="400" height="400">
                                <image xlink:href="/assets/img/Musculos/costas.svg" width="400" filter="invert(100%)" />
                            </svg>
                            <ul class="list-inline">
                                <strong class="text-light">Seguintes músculos</strong><br><br>
                                    <a class="btn btn-primary same-width" href="/costas">Costas</a><br>
                                    <a class="btn btn-primary same-width" href="/dorsal">Dorsais</a><br>
                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Fechar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 6 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-dark">
            <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" />
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body bg-dark">
                            <!-- Project details-->
                            <h2 class="text-uppercase text-light">Pernas</h2>
                            <p class="item-intro text-light">Exercícios para pernas</p>
                            <p class="text-light">Os músculos das pernas são importantes para muitas atividades quotidianas, como andar, subir escadas e praticar desportto. Eles são muito importantes pois contribuem para o equilíbrio e a estabilidade do corpo durante o treino de força e ajudam a construir uma aparência muscular atraente. Alguns exemplos incluem agachamentos, levantamentos terra, exercícios de panturrilha com peso corporal ou com halteres e agachamentos com barra ou halteres. É importante lembrar de variar os exercícios e aumentar a intensidade de forma progressiva para continuar a estimular o crescimento muscular.</p>
                            <svg width="400" height="400">
                                <image xlink:href="/assets/img/Musculos/pernas.svg" width="400" filter="invert(100%)" />
                            </svg>

                            <ul class="list-inline">
                                
                               <strong class="text-light">Seguintes músculos</strong><br><br>
                                    <a class="btn btn-primary same-width" href="/quadricep">Quadríceps</a><br>
                                    <a class="btn btn-primary same-width" href="/hamstring">Hamstring</a><br>
                                    <a class="btn btn-primary same-width" href="/gemeo">Gémeos</a><br>
                                    <a class="btn btn-primary same-width" href="/gluteo">Gluteo</a>
                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Fechar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-dark">
            <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" />
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body bg-dark">
                            <!-- Project details-->
                            <h2 class="text-uppercase text-light">Quadriceps</h2>
                            <p class="item-intro text-light">Exercícios para quadriceps</p>
                            <svg width="420" height="400">
                                <image xlink:href="/assets/img/Musculos/quads.svg" width="400" filter="invert(100%)" />
                            </svg>

                            <ul class="list-inline"><br>
                                <li>
                                    <strong class="text-light">Tabela de exercícios</strong><br><br>
                                    <a class="btn btn-primary same-width" href="/quadricep">Quadricep</a>
                                </li>
                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Fechar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>