    <!-- Portfolio Grid-->
    <section class="page-section" id="portfolio">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase text-light">Músculos</h2>
                <h3 class="section-subheading text-muted">Escolhe o músculo para visualizar os exercícios que o atingem</h3>
            </div>
            <div class="row">
                
                <div class="col-lg-4 col-sm-6 mb-4">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="/assets/img/Musculos/bicep.svg" alt="..." />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Biceps</div>
                            <div class="portfolio-caption-subheading text-muted">Exercícios para biceps</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <!-- Portfolio item 2-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="/assets/img/Musculos/peito.svg" alt="..." />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Peito</div>
                            <div class="portfolio-caption-subheading text-muted">Exercícios para peito</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <!-- Portfolio item 3-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="/assets/img/Musculos/abdominais.svg" alt="..." />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Abdominais</div>
                            <div class="portfolio-caption-subheading text-muted">Exercícios para abdominais</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                    <!-- Portfolio item 4-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal4">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="/assets/img/Musculos/ombros.svg" alt="..." />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Ombros</div>
                            <div class="portfolio-caption-subheading text-muted">Exercícios para ombros</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                    <!-- Portfolio item 5-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal5">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="/assets/img/Musculos/lats.svg" alt="..." />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Dorsal</div>
                            <div class="portfolio-caption-subheading text-muted">Exercícios para dorsais</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <!-- Portfolio item 6-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal6">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="/assets/img/Musculos/traps.svg" alt="..." />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Trapézio</div>
                            <div class="portfolio-caption-subheading text-muted">Exercícios para trapézio</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Portfolio item 1 modal popup-->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bg-dark">
                <div class="close-modal " data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                <div class="container ">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 ">
                            <div class="modal-body bg-dark">
                                <!-- Project details-->
                                <h2 class="text-uppercase">Bicep</h2>
                                <p class="item-intro text-muted text">Exercícios de Bicep</p>
                                <img class="img-fluid d-block mx-auto" src="/assets/img/Musculos/bicep.svg" alt="..." width="300px"/>
                                <p></p>
                                <ul class="list-inline">
                                    <li>
                                        <strong class="text-light">Tabela de exercícios:</strong>
                                        <a href="/bicep">Bicep</a>
                                    </li>
                                </ul>
                                <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                    <i class="fas fa-xmark me-1"></i>
                                    Fechar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio item 2 modal popup-->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bg-dark">
                <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body bg-dark">
                                <!-- Project details-->
                                <h2 class="text-uppercase">Peito</h2>
                                <p class="item-intro text-muted">Exercícios para peito</p>
                                <img class="img-fluid d-block mx-auto" src="assets/img/Musculos/peito.svg" alt="..." />
                                
                                <ul class="list-inline">
                                    <li>
                                        <strong class="text-light">Tabela de exercícios:</strong>
                                        <a href="/peito">Peito</a>
                                    </li>
                                    
                                </ul>
                                <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                    <i class="fas fa-xmark me-1"></i>
                                    Fechar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio item 3 modal popup-->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bg-dark">
                <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body bg-dark">
                                <!-- Project details-->
                                <h2 class="text-uppercase">Abdominais</h2>
                                <p class="item-intro text-muted">Exercícios para abdominais</p>
                                <img class="img-fluid d-block mx-auto" src="/assets/img/Musculos/abdominais.svg" alt="..." />
                                <ul class="list-inline">
                                    <li>
                                        <strong class="text-light">Tabela de exercícios:</strong>
                                        <a href="/abdominais">Abdominais</a>
                                    </li>
                                </ul>
                                <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                    <i class="fas fa-xmark me-1"></i>
                                    Fechar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio item 4 modal popup-->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bg-dark">
                <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body bg-dark">
                                <!-- Project details-->
                                <h2 class="text-uppercase">Ombros</h2>
                                <p class="item-intro text-muted">Exercícios para ombros</p>
                                <img class="img-fluid d-block mx-auto" src="/assets/img/Musculos/ombros.svg" alt="..." />
                                <ul class="list-inline">
                                    <li>
                                        <strong class="text-light">Tabela de exercícios:</strong>
                                        <a href="/ombro">Ombros</a>
                                    </li>
                                </ul>
                                <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                    <i class="fas fa-xmark me-1"></i>
                                    Fechar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio item 5 modal popup-->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bg-dark">
                <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body bg-dark">
                                <!-- Project details-->
                                <h2 class="text-uppercase">Dorsal</h2>
                                <p class="item-intro text-muted">Exercícios para dorsais.</p>
                               <img class="img-fluid d-block mx-auto" src="/assets/img/Musculos/lats.svg" alt="..." />
                                <ul class="list-inline">
                                    <li>
                                        <strong class="text-light">Tabela de exercícios:</strong>
                                        <a href="/dorsal">Dorsais</a>
                                    </li>
                                </ul>
                                <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                    <i class="fas fa-xmark me-1"></i>
                                    Fechar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio item 6 modal popup-->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bg-dark">
                <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body bg-dark">
                                <!-- Project details-->
                                <h2 class="text-uppercase">Trapézio</h2>
                                <p class="item-intro text-muted">Exercícios para trapézio</p>
                                <img class="img-fluid d-block mx-auto" src="/assets/img/Musculos/traps.svg" alt="..." />
                                <ul class="list-inline">
                                    <li>
                                       <strong class="text-light">Tabela de exercícios:</strong>
                                        <a href="/trapezio">Trapézio</a>
                                    </li>
                                </ul>
                                <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                    <i class="fas fa-xmark me-1"></i>
                                    Fechar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>