{{> header}}

<body class="h-100 w-100 bg-black text-white" data-bs-spy="scroll" data-bs-target="#navScroll">

  <div class="h-100 container-fluid">
    <div class="h-100 row d-flex align-items-stretch justify-content-center">


      <header class="mb-auto py-vh-2 col-12 justify-content-center">
        <a class="navbar-brand pe-md-4 fs-4 col-12 col-md-auto text-center" href="/">
          <img src="/assets/img/browsemuscle_light.png" width="300">
        </a>

      </header>
      <main class="mb-auto col-6">
        <h1>Criar uma conta nova</h1>

        <form method="post" action="/auth/registar">
          {{#if error}}
          <h2 class="text-light">{{error}}</h2>
          {{/if}}
          <div class="row">
            <div class="col">
              <label for="exampleInputEmail1" class="form-label text-light">Primeiro Nome</label>
              <input type="text" name="primeiro_nome" class="form-control form-control-lg bg-gray-800 border-dark"
                placeholder="Primeiro Nome" aria-label="First name" required>
            </div>
            <div class="col">
              <label for="exampleInputEmail1" class="form-label text-light">Ultimo Nome</label>
              <input type="text" name="ultimo_nome" class="form-control form-control-lg bg-gray-800 border-dark"
                placeholder="Último Nome" aria-label="Last name" required>
            </div>

          </div>
          <div class="mb-3">
            <br>
            <label for="exampleInputEmail1" class="form-label text-light">Username</label>
            <input type="text" name="username" class="form-control form-control-lg bg-gray-800 border-dark"
              id="exampleInputEmail1" placeholder="Username" aria-describedby="emailHelp" required>

          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label text-light">Endereço de Email</label>
            <input type="email" placeholder="Email" name="email"
              class="form-control form-control-lg bg-gray-800 border-dark" id="exampleInputEmail1"
              aria-describedby="emailHelp" required>
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label text-light">Número de telemovel (Opcional)</label>
            <input type="text" placeholder="Número de Telemóvel" name="num_telemovel"
              class="form-control form-control-lg bg-gray-800 border-dark" id="exampleInputEmail1"
              aria-describedby="emailHelp">

          </div>
          <div class="mb-3">
            <label class="form-label text-light">Password</label>
            <input placeholder="Palavra-Passe" type="password" name="password"
              class="form-control form-control-lg bg-gray-800 border-dark" id="password" pattern=".{8,}"
              title="A palavra-passe deve ter pelo menos 8 caracteres" required>
            <div class="form-text">Não temos acesso a sua palavra passe. A palavra passe está segura.</div>
            <div class="form-text">
              <a href="/auth/login">Já tem conta? </a>
            </div>
          </div>

          <button type="submit" class="btn btn-white btn-xl mb-4">Submit</button>
    </div>
    </form>




    </main>




  </div>

  </div>
</body>

</html>