{{> header }}


<body class="bg-black text-dark mt-0" data-bs-spy="scroll" data-bs-target="#navScroll"><br><br><br><br>
{{> nav_bar}}
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
  </header>
  <main class="px-3">
    <h1 class="text-light">Sessão de treino</h1>
    <p class="lead text-light">Cria as tuas próprias sessões de treino!
Escolhe os exercícios para a tua sessão de treino e define o objetivo de número de repetições e a carga.
Durante a realização do treino, aponte o número de repetições concluídas</p>
    <p class="text-light">
      <a href="/lista_sessao_treino" class="btn btn-lg btn-secondary fw-bold border-white bg-white">As tuas sessões de treino</a>
    </p>
  </main><br>

  
</div>
