<div class="d-flex align-items-center justify-content-center" style="height: 60vh">
    <h1 class="text-center text-light">Sessão de treino</h1>
    <p class="text-center text-light">Cria as tuas próprias sessões de treino! <br>
        Escolhe os exercícios para a tua sessão de treino e define o objetivo de número de repetições e a carga. <br>
        Durante a realização do treino, aponte o número de repetições concluídas</p>

    <div class="d-flex flex-column align-items-center">
        <a class="btn btn-light mt-3" href="/lista_sessao_treino">As tuas sessões de treino</a>
    </div>
</div>

<style>
    @media (max-width: 767px) {
        .d-flex {
            flex-direction: column;
        }
    }
</style>