<form class="form" id="myForm">

</form>
<script>

	function buildPut() {


		var url = new URL(window.location.href);
		console.log(url)
		var id = url.searchParams.get("id");

		var nome = url.searchParams.get("nome");
		var equipamento_id = url.searchParams.get("equipamento_id");
		var dificuldade_id = url.searchParams.get("dificuldade_id");
		var musculo_id = url.searchParams.get("musculo_id");
		fetch('/api/exercicio/' + id)
			.then(res => res.json())
			.then(data => {
				const nome_exercicios = data.result
				fetch('/api/equipamentos/')
					.then(res => res.json())
					.then(data => {
						const nome_equipamentos = data.result
						fetch('/api/dificuldades/')
							.then(res => res.json())
							.then(data => {
								const nome_dificuldades = data.result

								fetch('/api/musculos/')
									.then(res => res.json())
									.then(data => {
										const nome_musculos = data.result
										buildTable(nome_exercicios, nome_equipamentos, nome_dificuldades, nome_musculos)
										var dropdown_div = document.getElementById('selectionMusculo');
										console.log(dropdown_div);
										nome_musculos.forEach(musculo => {

											var dropdown = `
										
										<option type="number" value=${musculo.id}>${musculo.nome}</option>
										`
											dropdown_div.innerHTML += dropdown
										})

										var dropdown_div_equipamento = document.getElementById('selectionEquipamento');
										console.log(dropdown_div_equipamento);
										nome_equipamentos.forEach(equipamento => {

											var dropdown_equipamento = `
										<option type="number" value=${equipamento.id}>${equipamento.nome}</option>
										`
											dropdown_div_equipamento.innerHTML += dropdown_equipamento
										})


										var dropdown_div_dificuldade = document.getElementById('selectionDificuldade');
										console.log(dropdown_div_dificuldade);
										nome_dificuldades.forEach(dificuldade => {

											var dropdown_dificuldade = `
										<option type="number" value=${dificuldade.id}>${dificuldade.nome}</option>
										`
											dropdown_div_dificuldade.innerHTML += dropdown_dificuldade
										})





									})
							})
					})
			})



	}
	buildPut();
	function buildTable(data, data_equipamento, data_dificuldade, data_musculo) {
		var form = document.getElementById('myForm');
		var row = `
				  <table class="table table-striped table-hover table-dark">
			<tr class="bg-danger">
				<th>ID</th>
				<th>Exercício</th>
				<th>Equipamento</th>
				<th>Dificuldade</th>
				<th>Músculo</th>
			</tr>
			<tbody>
				<td>${id}</td>
				<td>
					<div class="form-group ">
						<label for="exampleFormControlInput1">Nome do Exercício</label>
						<input type="text" class="form-control form-control-sm" id="exampleFormControlInput1" placeholder="nome do exercício" name="nome" value="${data.nome}">
					</div>
				</td>
				<td>
				<div class="form-group">
					<label for="exampleFormControlSelect1">Nome do equipamento</label>
					<select class="form-control form-control-sm" id="selectionEquipamento" name="equipamento_id">
						<option type="number" value=${data_equipamento[data.equipamento_id - 1].id}>${data_equipamento[data.equipamento_id - 1].nome}</option>

					</select>
				</div>
				</td>
				<td>
					<div class="form-group">
					 <label for="exampleFormControlSelect2">Nome da dificuldade</label>
					 <select class="form-control form-control-sm" id="selectionDificuldade" name="dificuldade_id">
						<option type="number" value=${data_dificuldade[data.dificuldade_id - 1].id}>${data_dificuldade[data.dificuldade_id - 1].nome}</option>

					 </select>
				 </div>
				</td>
				<td>
					<div class="form-group">
		        <label for="exampleFormControlSelect2">Nome do músculo</label>
		        <select class="form-control form-control-sm" id="selectionMusculo" name="musculo_id">
							<option value=${data_musculo[data.musculo_id - 1].id}>${data_musculo[data.musculo_id - 1].nome}</option>

		        </select>
		      </div>
				</td>
			</tbody>
		</table>
		<button type="submit" class="btn btn-success col-12" onclick="myFunction()">Atualizar</button>
    </form>
				  `
		form.innerHTML += row
	}



</script>

<script>
	function myFunction() {
		window.location.href = "/admin/exercicios";
	}
</script>



<script>
	var url = new URL(window.location.href);
	var id = url.searchParams.get("id");

	url = "/api/exercicio/" + id;
	console.log(url);
</script>

<script>

	const myForm = document.getElementById('myForm');

	myForm.addEventListener('submit', function (e) {
		e.preventDefault();

		const formData = new FormData(this);

		const formDataObject = Object.fromEntries(formData.entries());
		const formDataJsonString = JSON.stringify(formDataObject);


		console.log(formDataJsonString);
		url = "/api/exercicio/" + id;
		fetch(url, {
			method: 'PUT',
			headers: {
				'Content-Type': 'application/json'
			},

			body: formDataJsonString
		}).then(function (response) {
			return response.text();
		}).then(function (text) {
			console.log(text);
		}).catch(function (error) {
			console.log(error);
		})

	})
</script>







</body>

</html>