<br><br>
{{#each rows}}
<form action="#">
    <h1 class="text-light text-center">{{exercicio}}</h1>
    <input class="form-control form-control-lg" id="formFileLg" type="file">
    <br>
    <div class="d-grid gap-2 col-6 mx-auto">
        <button type="submit" class="btn btn-primary btn-lg ">Enviar vídeo</button>
    </div>
</form>
{{/each}}