{{> header }}
				<h2>
				Visualize os alimentos!
				</h2>
				<p style="text-align: center">
          <table class="table table-striped table-hover">
      			<tr class="bg-danger">
              <th>ID</th>
      				<th>Alimento</th>
      				<th>Proteina</th>
      				<th>Carbs</th>
      				<th>Gordura</th>
                    <th>Calorias</th>
      			</tr>
            <tbody id="myTable">

        		</tbody>
        	</table>
        		<div id="alimentos">

        	    </div>

				</p>
				<script>
	fetch('/api/alimentos/')
		.then(res => res.json())
		.then(data => {
					  const nome_alimentos = data.result
					  console.log(nome_alimentos)
					  buildTable(nome_alimentos)

				})

	function renderNames(names){
		const container = document.getElementById('alimentos');
		container.innerHtml = '';
			for (const name of names) {
			  const p = document.createElement('p');
			  const textNode = document.createTextNode(name);
			  p.appendChild(textNode);
			  container.appendChild(p);
			}
	}

	function buildTable(data){
		var table = document.getElementById('myTable');

  // Mostrar todos os dados e meter a primeira palavra em maisculo
  if(data.length > 0){
	for(var i = 0; i<data.length; i++){
			  var row = ` <tr>
							  <td>${data[i].id}</td>
							  <td>${data[i].nome.charAt(0).toUpperCase() + data[i].nome.slice(1)}</td>
							  <td>${data[i].proteina}</td>
							  <td>${data[i].carbs}</td>
							  <td>${data[i].gordura}</td>
							  <td>${data[i].calorias}</td>
						  </tr>`
			  table.innerHTML += row
		  }
  } else {
	var row = `<tr><td colspan="6" class="text-center">Nenhum alimento encontrado</td></tr>`;
	table.innerHTML += row;
  }



	}

</script>

<script>
    const myForm = document.getElementById('myForm');


    myForm.addEventListener('submit', function(e) {
      e.preventDefault();


      var alimento_INPUT = document.getElementById('alimento').value
      console.log("ALIMENTO INPUT: " + alimento_INPUT);
      url = '/api/alimento/' + alimento_INPUT
      fetch(url)
        .then(res => res.json())
        .then(data => {
          // Depois de dar submit, recebo os parametros
          const alimentos = data.result;
          console.log(data.result)
          const alimentos_form = document.getElementById('myTable').innerHTML;
          if(alimentos_form.includes("2")){
            var row = `
    								<td>${alimentos.id}</td>
    								<td>${alimentos.nome.charAt(0).toUpperCase() + alimentos.nome.slice(1)}</td>
    								<td>${alimentos.proteina}</td>
    								<td>${alimentos.carbs}</td>
    								<td>${alimentos.gordura}</td>
                                    <td>${alimentos.calorias}</td>
    							`
            document.getElementById("myTable").innerHTML = row
          }
        })

    })
  </script>
  
{{> footer }}
