<div class="d-flex align-items-center justify-content-center" style="height: 60vh">

<h1 class="text-light">Pesquisa os alimentos que deseja encontrar</h1>
<p class="text-light">Escolhe um alimento que queres visualizar. Filtra por alimentos com fonte de carboidratos, fonte de proteína e fonte de gordura. Visualiza as informações através do gráfico desses alimentos</p>

<div class="d-grid gap-2 col-6 mx-auto">
    <a class="btn btn-dark" href="/alimentos">Visualiza os alimentos</a>
     <a class="btn btn-dark" href="/calcular_calorias">Calcular os valores de macronutrientes e exibir as calorias</a>
</div>

</div>
</div>