
<body class="bg-black text-white mt-0" data-bs-spy="scroll" data-bs-target="#navScroll">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
    </header>
    <main class="px-3">
      <h1 class="text-light">Alimentos</h1>
      <p class="lead text-light">Tens a possibilidade de visualizar os valores nutricionais dos alimentos através do
        gráfico. Podes também fazer uns cálculos em relação com a tua dieta.
      </p>
      <p class="text-light">
        <a href="/alimentos" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Visualizar Alimentos</a>
      </p>
      <p class="text-light">
        <a href="/calcular_calorias" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Calcular e exibir
          calorias</a>
      </p>
      <p class="text-light">
        <a href="/calcular_macro" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Calcular a quantidade
          de macros diárias</a>
      </p>
    </main>
  </div>