<br><br>
<h1 class="text-light center">Calculadora de Calorias</h1>
  {{#if TMB}}
  {{#if proteina}}
  {{#if carbs}}
  {{#if gordura}}
  
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <h4 class="alert-heading">Quantidade recomendada!</h4>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <p>TMB: {{TMB}} calorias <br>
    <p>Proteína: {{proteina}} gramas <br>
    <p>Carbs: {{carbs}} gramas <br>
    <p>Gordura: {{gordura}} gramas <br>
    <hr>
    <p class="mb-0">TMB significa taxa metabólica basal que significa as calorias que gastamos para sobreviver. </p>
  </div>
  {{/if}}
  {{/if}}
  {{/if}}
  {{/if}}

<div class="row mt-5">
  <div class="col-md-6 offset-md-3">
    <form method="post" action="/calcular_macro">
      <div class="form-group">
        <label class="text-light" for="peso" class="text-light">Peso (kg):</label>
        <input class="form-control" type="text" name="peso"><br>
      </div>
      <div class="form-group">
        <label class="text-light" for="altura">Altura (cm):</label>
        <input class="form-control" type="text" name="altura"><br>
      </div>
      <div class="form-group">
        <label class="text-light" for="idade">Idade:</label>
        <input class="form-control" type="text" name="idade"><br>
      </div>
      <div class="form-group">
        <label class="text-light" for="sexo">Sexo:</label><br>
        <input class="form-check-input" type="radio" name="gender" value="male"> <label
          class="text-light">Masculino</label><br>
        <input class="form-check-input" type="radio" name="gender" value="female"> <label
          class="text-light">Feminino</label><br>
        <button class="btn btn-primary" type="submit">Calcular</button>
      </div>

    </form>
  </div>

  <br>
