<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta https-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>BrowseMuscle</title>

    <meta name="description" content="Source code generated using layoutit.com">
    <meta name="author" content="LayoutIt!">
    <link rel="shortcut icon" href="../assets/img/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<style>
p {
    font-size: 20px;
}


</style>
  </head>
  <body>

    

    
	<div class="row">
		<div class="col-md-12">
			<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">BrowseMuscle</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="http://localhost:3000/">Página Principal</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://localhost:3000/exercicios" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Exercícios
          </a>

		

          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="http://localhost:3000/exercicios">Exercícios</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="http://localhost:3000/peito_exercicios">Peito</a></li>
			<li><a class="dropdown-item" href="http://localhost:3000/biceps_exercicios">Biceps</a></li>
			<li><a class="dropdown-item" href="http://localhost:3000/costas_exercicios">Costas</a></li>
			<li><a class="dropdown-item" href="http://localhost:3000/abdominais_exercicios">Abdominais</a></li>
			<li><a class="dropdown-item" href="http://localhost:3000/dorsais_exercicios">Dorsais</a></li>
			<li><a class="dropdown-item" href="http://localhost:3000/gemeos_exercicios">Gémeos</a></li>
			<li><a class="dropdown-item" href="http://localhost:3000/gluteo_exercicios">Glúteos</a></li>
			<li><a class="dropdown-item" href="http://localhost:3000/hamstrings_exercicios">Hamstrings</a></li>
			<li><a class="dropdown-item" href="http://localhost:3000/ombros_exercicios">Ombros</a></li>
			<li><a class="dropdown-item" href="http://localhost:3000/quadriceps_exercicios">Quadriceps</a></li>
			<li><a class="dropdown-item" href="http://localhost:3000/traps_exercicios">Traps</a></li>
			<li><a class="dropdown-item" href="http://localhost:3000/triceps_exercicios">Triceps</a></li>
			<li><a class="dropdown-item" href="http://localhost:3000/antebraco_exercicios">Antebraco</a></li>
          </ul>
        </li>
		
     
		<li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Equipamentos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item disabled" href="#">Equipamentos</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="http://localhost:3000/barra_exercicios">Barra</a></li>
			      <li><a href="http://localhost:3000/maquina_exercicios" class="dropdown-item">Máquina</a></li>
            <li><a href="http://localhost:3000/cabos_exercicios" class="dropdown-item">Cabos</a></li>
            <li><a href="http://localhost:3000/halteres_exercicios" class="dropdown-item">Halteres</a></li>
            <li><a href="http://localhost:3000/peso_corporal_exercicios" class="dropdown-item">Peso Corporal</a></li>
            <li><a href="http://localhost:3000/elastico_exercicios" class="dropdown-item">Elástico</a></li>
          </ul>
        </li>
		<li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dificuldades
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item disabled" href="#">Dificuldades</a></li>
            <li><hr class="dropdown-divider"></li>
			<li><a class="dropdown-item" href="http://localhost:3000/iniciante_exercicios">Iniciante</a></li>
			<li><a class="dropdown-item" href="http://localhost:3000/intermediario_exercicios">Intermediário</a></li>
            <li><a class="dropdown-item" href="http://localhost:3000/avancado_exercicios">Avancado</a></li>
          </ul>
        </li>

      </ul>
		
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
	 	 <ul class="navbar-nav dropstart">
	 <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="../assets/img/hammer.png"/>
          </a>
          <ul class="dropdown-menu dropleft" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Administrador</a></li>
            <li><hr class="dropdown-divider"></li>
			<li><a class="dropdown-item" href="http://localhost:3000/admin/exercicios">CRUD Exercícios</a></li>
			<li><a class="dropdown-item" href="http://localhost:3000/admin/alimentos">CRUD Alimentos</a></li>
          </ul>
        </li>
        </ul>
    </ul>
    </div>

	



  </div>
</nav>
			