<div class=" h-100 d-flex justify-content-center align-items-center">
    
<form method="post" action="/auth/registar">
    <img src="../assets/img/browsemuscle_dark.png" width="500px" height="100px">
    <br>
    <br>
    <div class="row">
  <div class="col">
    <label for="exampleInputEmail1" class="form-label">Primeiro Nome</label>
    <input type="text" name="primeiro_nome" class="form-control" placeholder="First name" aria-label="First name">
  </div>
  <div class="col">
    <label for="exampleInputEmail1" class="form-label">Ultimo Nome</label>
    <input type="text" name="ultimo_nome" class="form-control" placeholder="Last name" aria-label="Last name">
  </div>
  
</div>
  <div class="mb-3">
    <br>
    <label for="exampleInputEmail1" class="form-label">Username</label>
    <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Número de telemovel (Opcional)</label>
    <input type="text" name="num_telemovel" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    
  </div>
  <div class="mb-3">
    <label class="form-label">Password</label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword1">
    <div class="form-text">Não temos acesso a sua palavra passe. A palavra passe está segura.</div>
    <div class="form-text"> 
      <a href="/auth/login">Já tem conta? </a>
    </div>
  </div>
  
  <button type="submit" class="btn btn-primary">Criar conta</button>
</form>
</div>